@import "../css/base.scss";

.layout {
    .layout-logo {
        color: #FFF;
        width: 300px;
    }

    .ivu-layout-header {
        @include displayFlex(row);

        justify-content: space-between;
        background: #373d41;

        & > div {
            //margin: 0 20px;

            &:nth-of-type(1) {
                width: 200px;

                @include displayFlex(row);

                color: #fff;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                background: #ce0000;

                .wm-title {
                    margin: 0 auto;
                    width: 200px;
                }
            }

            &:nth-of-type(2) {
                -webkit-flex-grow: 1;
                flex-grow: 1;

                div {
                    margin-top: 14px;
                    width: 400px;
                    height: 36px;
                    line-height: 36px;
                    margin-left: 20px;

                    @include br(18px);

                    //background:#eeeeee;
                    background: #21262a;
                    border: none;
                    padding: 0;

                    @include pos(r);

                    img {
                        width: 20px;

                        @include pos(a);

                        top: 8px;
                        left: 20px;
                    }

                    span {}
                }

                input {
                    width: 330px;
                    height: 36px;
                    line-height: 36px;
                    margin-left: 40px;

                    @include br(18px);

                    background: transparent;
                    border: none;
                    padding: 0;
                    font-size: 14px;
                    outline: none;
                    padding-left: 20px;
                    color: #fff;

                    &::-webkit-input-placeholder {
                        color: #eee;
                    }
                }
            }

            &.wm-user-info {
                //@include displayBox(row);
                min-width: 250px;

                @include pos(r);

                img {
                    width: 30px;
                }

                div {
                    background: #b30501;

                    @include pos(a);

                    right: 0;
                    cursor: pointer;
                    width: 80px;
                    top: 0;
                    height: 100%;
                    text-align: center;

                    img {
                        width: 30px;
                    }
                }

                span {
                    vertical-align: middle;
                    color: #fff;
                    margin: 0 10px;
                    display: inline-block;
                    font-size: 14px;
                    max-width: 100px;

                    @include pos(r);

                    top: 0;
                    z-index: 10;
                }
            }
        }

        /* Safari 5.1 - 6.0 */
    }

    .wm-user {
        img {
            width: 50px;
        }
    }

    .wm-tab-C {
        background: #333645;
        width: 200px !important;

        & > div {
            background: #fff;
            border: 1px solid #fff;
        }

        .wm-menu-item {
            background: #fff;
            height: 40px;
            line-height: 40px;
            color: #333;
            text-indent: 3em;

            a {
                color: inherit;
            }

            @include pos(r);

            &:nth-of-type(1) {
                margin-top: 10px;
            }

            &.active {
                color: #f00;
                font-weight: bold;
                background: rgba(204, 0, 0, 0.1);

                &:before {
                    content: '';
                    width: 2px;
                    height: 100%;
                    background: #f00;

                    @include pos(a);

                    right: 0;
                    top: 0;
                }
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            width: 20px;
        }
    }

    .ivu-layout-sider-children {
        overflow: hidden;
    }

    .layout-nav {
        li > a {
            color: rgba(255, 255, 255, 0.7);

            &:hover {
                color: rgba(255, 255, 255, 1);
            }

            &.router-link-active {
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .wm-main-layout {
        @include displayFlex(row);

        //margin-top: 10px;
   
    }

    .symbin-main-menu {
        background: #333744 !important;

        li {
            @include pos(r);
        }

        a {
            @include pos(a);

            width: 100%;
            height: 100%;
            color: inherit;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 50px;
        }

        a:hover {
            color: inherit;
        }
    }

    i.ivu-icon-ionic {
        opacity: 0;
    }

    .ivu-menu-item {
        text-indent: 4em;
    }

    .ivu-menu-item > a > i {
        margin-right: 6px;
    }

    .ivu-menu-item > a {
        color: rgba(255, 255, 255, 0.7);
    }

    .ivu-menu-submenu .ivu-menu-item {
        padding-left: 20px !important;
    }
}
