.zmiti-orderfood-main-ui {
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C {
  flex: 1;
  height: 100%;
  background: #fff;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C header {
  text-indent: 1em;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C header .zmt_iconfont {
  font-size: 16px;
  color: #ffdd8a;
  position: relative;
  margin-right: 10px;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C header .zmt_iconfont:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffdd8a;
  opacity: .3;
  position: absolute;
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  left: 0;
  top: 0;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C > header {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C > header button {
  margin-right: 1em;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-count {
  text-align: right;
  color: #3390ff;
  padding-right: 1em;
  border: none;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table {
  width: 98%;
  margin: 0 auto;
  border: 1px solid #eee;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table header {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-around;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table header span {
  margin: 0 0px;
  text-align: center;
  text-indent: -.1em;
  width: 50px;
  cursor: pointer;
  display: inline-block;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table header span i {
  width: 12px;
  font-size: 24px;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li {
  text-align: center;
  width: 14%;
  height: 70px;
  cursor: pointer;
  line-height: 30px;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li span {
  display: block;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li.active {
  background: #3390ff;
  color: #fff;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li.active span {
  color: #fff !important;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li:hover {
  background: #3390ff;
  color: #fff;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li:hover span {
  color: #fff !important;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li.zmiti-orderfood-week:hover {
  background: transparent;
  color: #888;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-left-table-C .zmiti-orderfood-table .zmiti-orderfood-datepicker li.disabled {
  background-color: #eee;
  border-color: #eee;
  color: #57a3f3;
  cursor: not-allowed;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting {
  width: 420px;
  margin-left: 10px;
  background: #fff;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting > header {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-indent: 1em;
  border-bottom: 1px solid #eee;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting > header .zmt_iconfont {
  font-size: 16px;
  color: #975ae0;
  position: relative;
  margin-right: 10px;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting > header .zmt_iconfont:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #975ae0;
  opacity: .2;
  position: absolute;
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  left: 0;
  top: 0;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting .zmiti-allow-orderfood {
  width: 90%;
  margin: 20px auto;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting .zmiti-allow-orderfood > div {
  margin: 2px 0;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting .zmiti-admin-setting {
  width: 90%;
  margin: 20px auto;
}

.zmiti-orderfood-main-ui .zmiti-orderfood-right-setting .zmiti-admin-setting > div {
  margin: 4px 0;
}
