@import "../../css/base.scss";
$baseColor:#3390ff;

.zmiti-meetingroom-main-ui {
	background: #f2f2f2;
	box-sizing: border-box;
	height: 100%;
	width: 99%;
	margin: 0 auto;

	.zmiti-list-main {
		box-sizing: border-box;
		background: #fff;
		margin: 0 auto;

		.zmiti-tab-header {
			.ivu-date-picker {
				font-size: 14px;
			}
			.square-color{
				font-size: 14px;
				margin-right: 10px;
				i{
					display: inline-block;
					width: 15px;
					height: 15px;
					border: 1px solid #ccc;
					margin-right: 3px;
					margin-bottom: -3px;
				}
				.green{
					background-color: #87d068;
				}
				.orange{
					background-color: orange;
				}
				.gray{
					background-color: #a9a9a9;
				}
			}
		}
	}

	.zmiti-scroll {
		overflow: auto;
	}

	.zmiti-room-list {
		font-size: 14px;
		width: 98%;
		margin: 10px auto;

		.zmiti-room-content {
			border: 1px solid #ccc;
			.zmiti-room-body {
				.zmiti-room-time {
					width: 110px;
					float: left;
					margin-top: 49px;
					border-top: 1px solid #ccc;
					.ivu-timeline {
						width: 100px;
						margin-top: 20px;
					}
				}
				.zmiti-room-table{
					.table-title{
						height: 50px;
						td{
							color: #515a6e;
							font-size: 14px;
							cursor: default;
						}
					}
					.green-td {
						background-color: #87d068;
						color: #fff;
					}
					.gray-td {
						background-color: #a9a9a9;
						color: #fff;
					}

					.orange-td {
						background-color: orange;
						color: #fff;
					}
					.room-operate{
						position: absolute;
						top: 0;
						height: 60px;
						background-color: #d5d5d5b0;
						width: 100%;
						.operate {
							@include displayFlex(row);
							align-items: center;
							justify-content: space-around;
							height: 40px;
						}
					}
				}
			}
		}

		table {
			td {
				width: 150px;
				text-align: center;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				font-size: 13px;
				color: #727272;
				position: relative;				
				&:last-child {
					border-right: none;
				}
				&>div{
					cursor: pointer;
					height: 60px;
					padding: 10px 5px;
					p{
						line-height: 20px;
					}
				}
			}

			tr {
				height: 60px;
			}
		}
	}
	@at-root.zmiti-add-form {
		width: 500px;
		overflow: auto;
		position: absolute !important;
		top: 0;
		right: 0;
		z-index: 100;
		height: 100%;
		box-shadow: 0 0 0 1px #ccc;
		box-sizing: border-box;
		background: #f9f9f9;

		.zmiti-add-form-C {
			margin: 10px auto 2px;
			width: 90%;
		}

		.zmiti-add-form-item {
			line-height: 50px;
			height: 50px;

			&.zmiti-add-btns {
				text-align: center;
				@include pos(r);
				z-index: 10;

				button {
					margin: 0 20px;
					padding: 2px 20px;
				}
			}

			input {
				padding-left: 6px;
				height: 32px;
				width: 70%;
				border: 1px solid#d8d8d8;
				outline: none;
			}
		}
	}
}