@import "../css/base.scss";

$baseColor: #f2f2f2;
$viewW: 750px;
$color: #be0000;
.zmiti-admin-main-ui {
  background: $baseColor;
  box-sizing: border-box;
  height: 100%;
  width: 99%;
  margin: 0 auto;

  .ivu-table-wrapper {
    border-bottom: none;
    border-right: none;
  }

  @include displayFlex(row);

  .zmiti-list-main {
    box-sizing: border-box;

    background: #fff;
    margin: 10px auto;
    flex: 2;
    -webkit-flex: 2;
    @include pos(r);
    &:before {
      content: "";
      @include pos(a);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 1px #ccc;
    }

    .zmiti-add-form-close {
      z-index: 100;
    }

    & > div {
      margin: 10px auto 10px;
      //border-top:1px solid #ddd;
      @include pos(r);
      flex: 1;
      -webkit-flex: 1;

      //overflow: auto;

      .zmiti-meet-form {
        width: 100%;
        margin: 0px auto;
        padding: 20px 40px;
        height: 600px;
        overflow: auto;
      }
    }
    @include displayFlex(column);
    .zmiti-tab-header {
      width: 50px;
      @include displayFlex(row);
      width: 100%;
      padding: 0 20px;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      line-height: 50px;
      font-size: 20px;
      z-index: 10;

      &:before {
        content: "";
        @include pos(a);
        width: 98%;
        left: 1%;
        height: 1px;
        background: #ddd;
        top: 54px;
      }
      & > div {
        &:nth-of-type(1) {
          @include pos(r);
          text-indent: 0.5em;

          &:before {
            content: "";
            width: 4px;
            height: 24px;
            background: #be0000;
            left: -4px;
            @include pos(a);
            top: 12px;
          }
        }
      }
    }

    .zmiti-list-where {
      width: 98%;
      margin: 10px auto 0;
      height: 40px;
	  line-height: 40px;
	  font-size:14px;
	  input{
		  height: 30px;
	  }
	  
    }

    .zmiti-admin-main {
      flex: 5;
	  -webkit-flex: 5;
	  width: 100%;

      & > div {
        @include transition(0.3s);
      }

      .zmiti-admin-table {
        width: 98%;
        margin: 0 auto;

        .ivu-table-wrapper {
          //margin-top: 10px;
        }

        &.active {
          ///width: 70%;
        }
      }
    }
  }

  .zmiti-add-form {
    //border:1px solid #dcdee2;
    margin-top: 10px;
    flex: 1;
    -webkit-flex: 1;
	margin: 10px 0 10px 10px;

	
	
	


    @include pos(r);
    box-shadow: 0 0 0 1px #ccc;
    box-sizing: border-box;

    background: #f9f9f9;

    & > header.zmiti-add-header {
      line-height: 40px;
      height: 40px;
	  font-weight: bold;
	  margin-bottom: 20px;
      color: #515a6e;
      background: #f8f8f9;
      span {
        color: #3390ff;
        font-size: 14px;
        font-weight: bold;
      }
      img {
        width: 40px;
        margin: 10px;
        cursor: pointer;
      }
	}
	
	.zmiti-add-form-C{
		margin: 10px auto 2px;
		width: 90%;
	}

    .zmiti-add-form-item {
	  line-height: 50px;
	  
	  
      height: 50px;
      &.zmiti-add-btns {
        text-align: center;
        @include pos(r);
        z-index: 10;

        button {
          margin: 0 20px;
          padding: 2px 20px;
        }
      }

      input {
        padding-left: 6px;
        height: 32px;
        width: 70%;
        border: 1px solid#d8d8d8;
        outline: none;
      }
    }
  }
}

.ivu-icon-ios-help-circle{
	left: 25px;
}

.ivu-radio-inner:after{
	border-radius: 10px !important;
}