@import '../../css/base.scss';
.wm-tab-ui{
    background:#eaedf1;

    width: 200px;
    height: 100%;

    .wm-tab-list{
        li{
            &:nth-of-type(1){
                height: 100px;
                line-height: 20px;
                text-align: center;
                font-weight: bold;
                text-indent: 0;
                padding: 40px 10px;
            }

            height: 36px;
            line-height: 36px;
            text-indent: 2em;
            cursor: pointer;

            a{
                color:inherit;
                display: block;
                width: 100%;
                height: 100%;
            }

            &.active{
                background:#f5f7f9;
                font-weight: bold;
                color:#be0000;
            }
        }
    }
}