@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;




.zmiti-upload-before{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-indent: 1em;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	cursor: pointer;
	border:1px solid red;
	
	@include pos(a);
	top: 0px;
	opacity: 0;
	input{
		margin-left: -20px;
		cursor: pointer;
	}
	&>div:nth-of-type(2){
		cursor: pointer;
		border:1px solid red;
		width: 80px !important;
		height: 40px !important;


	}
}
.zmiti-workorder-main-ui{
	background:#fff;
	padding: 10px;
	.zmiti-upload-view{
		
		@include pos(a);
		height: 100px;
		width: 88%;
		right: 0;
		top: 0;
		@include displayFlex(row);
		.zmiti-upload-item{
			border:1px solid #ccc;
			width: 100px;
			text-align: center;
			line-height: 100px;
			overflow: hidden;
			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		 .wm-news-encryptfile-progressbar{
            border:1px solid rgba(250, 184, 46, 1);
            display: block;
            height: 25px;
            line-height: 25px;
            @include pos(r);
            @include br(11px);
            overflow: hidden;

            text-align: center;
            

            

               label{
                   @include pos(r);
                   z-index: 10;
               }
            span{
                @include pos(a);
                
                width: 99.5%;
                height: 20px;
                left: 0;
                top: 0;
                @include br(10px);
                margin: 1px;
                @include transform(translate3d(-100%,0,0));
                 background-size: 3em 3em;
                 background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, rgba(250, 184, 46, 0.7) 0.9em, rgba(250, 184, 46, 0.7) 2.1em, transparent 2.1em, transparent 2.9em, rgba(250, 184, 46, 0.7) 3.1em);
                 -webkit-animation: warning-animation 750ms infinite linear;
                 -moz-animation: warning-animation 750ms infinite linear;
                 animation: warning-animation 750ms infinite linear;

                 &:before {
                     content: '';
                     position: absolute;
                     top: 0;
                     left: 0;
                     right: 0;
                     bottom: 0;
                     height: 100%;
                     background-image: linear-gradient(to bottom, rgba(250, 184, 46, 0.7), rgba(250, 184, 46, 0.7) 15%, transparent 60%, rgba(250, 184, 46, 0.7));
                 }

            }
        }
	}
	@-webkit-keyframes warning-animation {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: 3em 0;
		}
	}

	@keyframes warning-animation {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: 3em 0;
		}
	}
	.zmiti-workorder-choose{
		width: 100%;
		border:1px solid #ccc;
		margin-top: 10px;
		padding: 10px;
		padding-bottom: 20px;
		.zmiti-workorder-header-bar{
			text-indent: 1em;
			font-size:14px;
			@include pos(r);
			height: 40px;
			border:1px solid #f5f6fa;
			background:#f5f6fa;
			line-height: 40px;
			&:before{
				content:'';
				left: 0;
				top:0;
				height: 100%;
				width: 4px;
				background: #333;
				@include pos(a);
			}

		}

		&>ul{
			margin-top: 30px;
			@include displayFlex(row);
			
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;

			li{margin: 5px 10px;}

			.zmiti-workerorder-type-top{
				justify-content: space-between;
				-webkit-justify-content: space-between;
				align-items: center;
				@include displayFlex(row);
				line-height: 50px;
				padding: 0;
				&.zmiti-workerorder-type-top1{
					padding: 0 20px;
					box-sizing: border-box;
					min-width: 250px;
				}

			}
		}
	}
	 
}