/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-product-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  box-sizing: border-box;
}

.zmiti-product-main-ui .ivu-table-wrapper {
  border-bottom: none;
  border-right: none;
}

.zmiti-product-main-ui > div:nth-of-type(1) {
  width: 200px;
}

.zmiti-product-main-ui .zmiti-tab-content {
  box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  position: absolute;
  right: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-product-main-ui .zmiti-tab-content > div {
  width: 98%;
  margin: 10px auto 10px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  overflow: auto;
}

.zmiti-product-main-ui .zmiti-tab-content > div .zmiti-meet-form {
  width: 100%;
  margin: 0px auto;
  padding: 20px 40px;
  height: 600px;
  overflow: auto;
}

.zmiti-product-main-ui .zmiti-tab-content .zmiti-tab-header {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
}

.zmiti-product-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1) {
  position: relative;
  text-indent: .5em;
}

.zmiti-product-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1):before {
  content: '';
  width: 4px;
  height: 24px;
  background: #be0000;
  left: -4px;
  position: absolute;
  top: 12px;
}

.zmiti-product-main-ui .zmiti-product-main {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-product-main-ui .zmiti-product-main > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-table {
  width: 100%;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-table .ivu-table-wrapper {
  margin-top: 10px;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-table.active {
  width: 70%;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form {
  margin-top: 10px;
  margin-left: 2%;
  width: 28%;
  position: absolute;
  right: 0;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form.detail-enter-active, .zmiti-product-main-ui .zmiti-product-main .zmiti-product-form.detail-leave-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form.detail-enter, .zmiti-product-main-ui .zmiti-product-main .zmiti-product-form.detail-leave-to {
  width: 0;
  overflow: hidden;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form > header {
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  color: #515a6e;
  text-indent: 2em;
  background: #f8f8f9;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form .zmiti-product-form-item {
  line-height: 50px;
  height: 50px;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form .zmiti-product-form-item.zmiti-product-btns {
  text-align: center;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form .zmiti-product-form-item.zmiti-product-btns button {
  margin: 0 20px;
  padding: 2px 20px;
}

.zmiti-product-main-ui .zmiti-product-main .zmiti-product-form .zmiti-product-form-item input {
  padding-left: 6px;
  height: 26px;
  width: 70%;
  border: 1px solid #d8d8d8;
  outline: none;
}
