@import "../../common/css/base.scss";

$viewW: 750px;
.zmiti-taskmgredit-main-ui{
    .ivu-table-wrapper {
        border-bottom: none;
        border-right: none;
    }

    @include displayFlex(row);

    &>div {
        &:nth-of-type(1) {
            width: 200px;
        }
    }

    .zmiti-tab-content {
        box-sizing: border-box;
        flex: 1;
        -webkit-flex: 1;

        overflow:auto;

        &>div {
            width: 98%;
            margin: 10px auto 10px;
            //border-top:1px solid #ddd;
            @include pos(r);
            flex: 1;
            -webkit-flex: 1;

            overflow: auto;


            .zmiti-meet-form {
                width: 100%;
                margin: 0px auto;
                padding: 20px 40px;
                ;
                height: 600px;
                overflow: auto;
            }

        }
       // @include displayFlex(column);
        .zmiti-tab-header {
            height: 50px;
            @include displayFlex(row);
            width: 96%;
            margin: 0 auto;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            line-height: 50px;
            font-size: 14px;
           
            @include pos(r);

            &:before{
                content:'';
                @include pos(a);
                width: 100%;
                bottom: 0;
                left: 0;
                background:#ccc;
                height: 1px;
            }

            &>div {
                &:nth-of-type(1) {
                    @include pos(r);
                    text-indent: 1em;

                    &:before {
                        content: '';
                        width: 2px;
                        height: 20px;
                        background: #88B7E0;
                        left: 0px;
                        @include pos(a);
                        top: 14px;
                    }
                }
            }


        }

      
    }
}
.ivu-input{
    border-radius: 0 !important;
}
.zmiti-taskmgredit-main-ui {
     .zmiti-taskmgredit-main {
         width: 100%;
         @include displayFlex(row);


         &>div {
             @include transition(.3s);
         }

         .zmiti-taskmgredit-table {
            width: 98%;
            margin: 0 auto;

            border:1px solid #e1e6eb;
            border-top: none;
            &>h2{
                font-size:14px;
                height: 40px;
                background: #F5f6FA;
                font-weight: normal;
                line-height: 40px;
                @include pos(r);
                text-indent: 1em;
                border:1px solid #e1e6eb;
                border-left: 4px solid #6d7781;
                border-right: none;
                box-sizing: border-box;
                margin-bottom: 20px;;
            }
            &>form{
                width: 96%;
                margin: 0 auto;
                .zmiti-and-btn{
                    text-align: center;
                    font-size:16px;
                    width: 32px;
                    height: 32px;
                    background: #ddd;
                    border:1px solid #ddd;
                }
            }
         }

     }
   
}
.zmiti-scroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

.ivu-table-body::-webkit-scrollbar-thumb,
.zmiti-scroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.ivu-table-body::-webkit-scrollbar-track,
.zmiti-scroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}