@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-taskmgredit-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-taskmgredit-main-ui .ivu-table-wrapper {
  border-bottom: none;
  border-right: none;
}

.zmiti-taskmgredit-main-ui > div:nth-of-type(1) {
  width: 200px;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content {
  box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  overflow: auto;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content > div {
  width: 98%;
  margin: 10px auto 10px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  overflow: auto;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content > div .zmiti-meet-form {
  width: 100%;
  margin: 0px auto;
  padding: 20px 40px;
  height: 600px;
  overflow: auto;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content .zmiti-tab-header {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 96%;
  margin: 0 auto;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 14px;
  position: relative;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content .zmiti-tab-header:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ccc;
  height: 1px;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1) {
  position: relative;
  text-indent: 1em;
}

.zmiti-taskmgredit-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1):before {
  content: '';
  width: 2px;
  height: 20px;
  background: #88B7E0;
  left: 0px;
  position: absolute;
  top: 14px;
}

.ivu-input {
  border-radius: 0 !important;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main .zmiti-taskmgredit-table {
  width: 98%;
  margin: 0 auto;
  border: 1px solid #e1e6eb;
  border-top: none;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main .zmiti-taskmgredit-table > h2 {
  font-size: 14px;
  height: 40px;
  background: #F5f6FA;
  font-weight: normal;
  line-height: 40px;
  position: relative;
  text-indent: 1em;
  border: 1px solid #e1e6eb;
  border-left: 4px solid #6d7781;
  border-right: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main .zmiti-taskmgredit-table > form {
  width: 96%;
  margin: 0 auto;
}

.zmiti-taskmgredit-main-ui .zmiti-taskmgredit-main .zmiti-taskmgredit-table > form .zmiti-and-btn {
  text-align: center;
  font-size: 16px;
  width: 32px;
  height: 32px;
  background: #ddd;
  border: 1px solid #ddd;
}

.zmiti-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

.ivu-table-body::-webkit-scrollbar-thumb,
.zmiti-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.ivu-table-body::-webkit-scrollbar-track,
.zmiti-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
