/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-company-detail-main-ui {
  background: #fff;
  box-sizing: border-box;
  height: 99%;
  width: 99%;
  margin: .25% auto;
}

.zmiti-company-detail-main-ui .zmiti-company-header {
  font-size: 30px;
  text-indent: 1em;
  padding-top: 10px;
}

.zmiti-company-detail-main-ui .zmiti-company-logo-C {
  width: 100px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.zmiti-company-detail-main-ui .zmiti-company-logo {
  width: 100px;
  height: 100px;
  background: rgba(51, 144, 255, 0.1);
  border-radius: 50%;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  align-items: center;
}

.zmiti-company-detail-main-ui .zmiti-company-logo img {
  display: block;
  width: 100%;
}

.zmiti-company-detail-main-ui .zmiti-company-item {
  width: 90%;
  margin: 20px auto;
}

.zmiti-company-detail-main-ui .zmiti-company-file {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 50%;
  margin: 20px 30px;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
}

.zmiti-company-detail-main-ui .zmiti-company-img {
  width: 100px;
  height: 160px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: #f2f2f2 !important;
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  position: relative;
}

.zmiti-company-detail-main-ui .zmiti-company-img span {
  position: absolute;
  left: 50%;
  color: #ccc;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
}
