@import "../css/base.scss";



.zmiti-company-detail-main-ui{
	background: #fff;
	box-sizing: border-box;
	height: 99%;
	width: 99%;
	margin: .25% auto;

	.zmiti-company-header{
		font-size:30px;
		text-indent: 1em;
		padding-top: 10px;
	}

	.zmiti-company-logo-C{
		width: 100px;
		height: 200px;
		margin: 0 auto;
		text-align: center;
	}

	.zmiti-company-logo{
		width: 100px;
		height: 100px;
		background: rgba(51, 144, 255, 0.1);
		@include br();
		margin: 20px auto;
		overflow: hidden;
		@include displayFlex(row);
		align-items: center;
		img{
			display: block;
			width: 100%;

		}
	}

	.zmiti-company-item{
		width: 90%;
		margin: 20px auto;
		
	}

	.zmiti-company-file{
		@include displayFlex(row);
		width: 50%;
		margin:20px 30px;
		-webkit-justify-content:space-around;
		justify-content:space-around;
		text-align: center;
	}
	.zmiti-company-img{
		width: 100px;
		height: 160px;
		overflow: hidden;
		margin-bottom: 5px;
		background-color: #f2f2f2 !important;
		cursor: pointer;
		
		
		
		@include displayFlex(row);
		-webkit-align-items:flex-end;
		align-items: flex-end;
		@include pos(r);
		span{
			
			@include pos(a);
			left: 50%;
			color:#ccc;
			top:50%;
			@include transform(translate(-50%,-50%));
			font-size:30px;
		}
	}
}