@import "../../css/base.scss";
$baseColor:#3390ff;
.zmiti-inquire-main-ui {
	background: #f2f2f2;
	box-sizing: border-box;
	height: 100%;
	width: 99%;
	margin: 0 auto;

	.zmiti-list-main {
		box-sizing: border-box;
		background: #fff;
		margin: 0 auto;
	}
	.zmiti-tabs-select {
		width: 98%;
		margin: 10px auto;
	}
	.zmiti-list-where {
		font-size: 14px;
		width: 98%;
		margin: 10px auto;
		@include displayFlex(row);
		.zmiti-search-dates {
			margin: 0 10px;
		}
	}

	.zmiti-scroll {
		overflow: auto;
	}

	.zmiti-submit-main {
		flex: 5;
		-webkit-flex: 5;
		width: 100%;

		&>div {
			@include transition(0.3s);
		}

		.zmiti-submit-table {
			width: 98%;
			margin: 0 auto;
		}
	}

	@at-root.zmiti-add-form {
		width: 500px;
		overflow: auto;
		position: absolute !important;
		top: 0;
		right: 0;
		z-index: 100;
		height: 100%;
		box-shadow: 0 0 0 1px #ccc;
		box-sizing: border-box;
		background: #f9f9f9;

		.zmiti-add-form-C {
			margin: 10px auto 2px;
			width: 90%;
		}
		.zmiti-question{
			padding-top: 10px;
			.question-title{
				margin-top: 10px;
				font-size: 16px;
				img{
					width: 100px;
					height: 100px;
					margin: 5px 20px;
				}
			}
			.question-option{
				font-size: 14px;
				margin: 10px 0 10px 15px;
				img{
					width: 50px;
					height: 50px;
				}
				div{
					display: flex;
					align-items: center;
					margin: 5px 0;
				}
				input[type="radio"],input[type="checkbox"]{
					width: 16px;
					height: 16px;
					margin-right: 10px;
				}
			}
		}		
		.zmiti-add-form-item {
			line-height: 50px;
			height: 50px;

			&.zmiti-add-btns {
				text-align: center;
				@include pos(r);
				z-index: 10;
				button {
					margin: 0 20px;
					padding: 2px 20px;
				}
			}
			input {
				padding-left: 6px;
				height: 32px;
				width: 70%;
				border: 1px solid#d8d8d8;
				outline: none;
			}
		}
	}

}