@import "../../css/base.scss";

.zmiti-question-main-ui {
  background: #f2f2f2;
  box-sizing: border-box;
  height: 100%;
  width: 99%;
  margin: 0 auto;

  .zmiti-list-main {
    box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
  }

  .zmiti-submit-main {
    margin-top: 10px;
    flex: 5;
    -webkit-flex: 5;
    width: 100%;

    &>div {
      @include transition(0.3s);
    }
    .zmiti-question-form {
      margin: 20px;
    }

    .zmiti-submit-main {
      overflow: auto;
    }
    .zmiti-add-form-C {
      margin: 10px auto;
      .upload-img{
        @include displayFlex(row);
        align-items: flex-end;
        img{
          width: auto;
          height: 100px;
          margin-right: 10px;
        }
      }
    }
    .zmiti-question-btn{
      margin: 10px 20px;
      text-align: center;
      height: 60px;
      line-height: 60px;
      background-color: #fff;
      border: 1px dashed #ccc;
      cursor: pointer;
      i{
        margin-right: 5px;
      }
    }
    .zmiti-question-options {
      margin-bottom: 5px;
      .zmiti-options-index{
        width: 30px;
        text-align: right;
        font-size: 16px;
      }
      .zmiti-options-item {
        width: 300px;
        margin: 0 10px;
      }
      .zmiti-options-item-imgurl {
        margin-left: 10px;
        img {
          height: 100px;
          width: 150px;
        }
      }

      .zmiti-options-btns {
        // width: 120px;
      }

      .ivu-icon {
        cursor: pointer;
      }
    }
    .zmiti-question-items {
      border: 1px solid #cccccc;
      margin: 10px 20px;
      background-color: #ffffff;
      padding: 0 20px;
      box-sizing: border-box;

      .zmiti-suboption-img {
        border: 1px solid #e8eaec;
      }

      .zmiti-question-ulist {
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
      }

      .zmiti-question-ulist ul {
        @include displayFlex(row);
        flex-wrap: wrap;

        li {
          width: 200px;
          margin-bottom: 10px;
          margin-right: 20px;

          img {
            width: 100px;
            height: 75px;
          }

          .zmiti-question-suboption {
            @include displayFlex(row);

            .zmiti-question-suboption-txt {
              flex: 1;
              -webkit-flex: 1;
              -moz-flex: 1;
              border: 1px solid #e8eaec;
              padding: 0 0 0 5px;
              margin-left: -1px;
            }
          }
        }
      }

      .zmiti-question-inner {
        border-top: 1px solid #cccccc;
        padding-top: 12px;
        padding-bottom: 10px;
      }
    }

    .zmiti-question-h1 {
      @include displayFlex(row);
      height: 60px;
      line-height: 60px;
      .zmiti-h1-txt{
        font-size: 16px;
      }
      .zmiti-block-oper {
        width: 90px;
        color: #2d8cf0;
        text-align: center;
        margin-left: auto;

        span {
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }

  }
}