@import "../css/base.scss";

.zmiti-basicconfig-main-ui {
  background: #f2f2f2;
  box-sizing: border-box;
  height: 99%;
  width: 99%;
  @include pos(r);
  margin:0 auto;
  @include displayFlex(row);

  .zmiti-oss-title{
	  &.active{
		  color:#00c1de
	  }
  }
  .zmiti-oss-used{
	  width: 16px;
	  height: 16px;
	  background: #fff;
	  border:1px solid #00c1de;
	  margin-top: 9px;
	  box-sizing: border-box;
	  cursor: pointer;
	  @include br();
	  @include pos(r);
	  &.active{
		&:before{
			content:"";
			width: 10px;
			height: 10px;
			@include br();
			background:#00c1de;
			@include pos(a);
			left: 2px;
			top: 2px;;

		}
	  }
  }
	
	input{
		border:1px solid red;
		width: 94% !important;
	}

  .zmiti-list-main {
    box-sizing: border-box;

    background: #fff;
    margin: 0 auto;
    flex: 2;
    -webkit-flex: 2;
	@include pos(r);
	.zmiti-thumb-list{
		&>div{
			@include displayFlex(row);
			margin: 10px 0;
			&>div{
				&:nth-of-type(1){
					width: 80px;
					text-align: right;
				}
			}
		}

		.zmiti-thumb-item{
			margin:10px 0;
		}
	}

	
	
	
	top: 5px;
	@include displayFlex(column);
    &:before {
      content: "";
      @include pos(a);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
     border:1px solid #ccc;
    }

    .zmiti-add-form-close {
      z-index: 100;
    }

    & > div {
      margin:10px 0 0  10px ;
      //border-top:1px solid #ddd;
      @include pos(r);
      flex: 1;
      -webkit-flex: 1;

      //overflow: auto;

      .zmiti-meet-form {
        width: 100%;
        margin: 0px auto;
        padding: 20px 40px;
        height: 600px;
        overflow: auto;
      }
    }
    @include displayFlex(column);

  } 


}

.ivu-icon-ios-help-circle{
	left: 25px;
}

.ivu-radio-inner:after{
	border-radius: 10px !important;
} 