/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-basicconfig-main-ui {
  background: #f2f2f2;
  box-sizing: border-box;
  height: 100%;
  width: 99%;
  position: relative;
  margin: 0 auto;
}

.zmiti-basicconfig-main-ui input {
  border: 1px solid red;
  width: 94% !important;
}

.zmiti-basicconfig-main-ui .zmiti-list-main {
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  flex: 2;
  -webkit-flex: 2;
  position: relative;
  top: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-basicconfig-main-ui .zmiti-list-main .zmiti-thumb-list > div {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin: 10px 0;
}

.zmiti-basicconfig-main-ui .zmiti-list-main .zmiti-thumb-list > div > div:nth-of-type(1) {
  width: 80px;
  text-align: right;
}

.zmiti-basicconfig-main-ui .zmiti-list-main .zmiti-thumb-list .zmiti-thumb-item {
  margin: 10px 0;
}

.zmiti-basicconfig-main-ui .zmiti-list-main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 1px #ccc;
}

.zmiti-basicconfig-main-ui .zmiti-list-main .zmiti-add-form-close {
  z-index: 100;
}

.zmiti-basicconfig-main-ui .zmiti-list-main > div {
  margin: 10px 0 0  10px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
}

.zmiti-basicconfig-main-ui .zmiti-list-main > div .zmiti-meet-form {
  width: 100%;
  margin: 0px auto;
  padding: 20px 40px;
  height: 600px;
  overflow: auto;
}

.ivu-icon-ios-help-circle {
  left: 25px;
}

.ivu-radio-inner:after {
  border-radius: 10px !important;
}
