/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-login-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-login-ui > header {
  height: 64px;
  line-height: 64px;
  width: 100%;
  position: relative;
}

.zmiti-login-ui > header > div {
  width: 1000px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin: 0 auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.zmiti-login-ui > header:before {
  content: '';
  background: #cc0000;
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px rgba(204, 0, 0, 0.5);
}

.zmiti-login-ui > header img {
  width: 100px;
  margin-left: 30px;
  vertical-align: middle;
  font-size: 0;
}

.zmiti-login-ui > header a {
  color: #cc0000;
}

.zmiti-login-ui > header a:hover {
  text-decoration: underline;
}

.zmiti-login-ui > section {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.zmiti-login-ui > section .zmiti-login-C {
  width: 400px;
  height: 380px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  top: -4vh;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-title {
  margin-bottom: 7vh;
}

.zmiti-login-ui > section .zmiti-login-C > h2 {
  color: #3490ff;
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div:nth-of-type(1), .zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div:nth-of-type(2) {
  background: #f9fcfc;
  height: 44px;
  border: 1px solid #ccc;
  line-height: 44px;
  padding: 0 20px;
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 20px;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div:nth-of-type(1) .zmiti-login-error, .zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div:nth-of-type(2) .zmiti-login-error {
  color: #f00;
  margin-top: -12px;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div.zmiti-remember-pass {
  width: 90%;
  margin-left: 5%;
  line-height: 40px;
  text-align: right;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div.zmiti-login-btn {
  background: #3490ff;
  margin-top: 30px;
  color: #fff;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form > div input {
  border: none;
  height: 30px;
  background: transparent;
  outline: none;
  width: 80%;
  height: 36px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-login-form img {
  width: 30px;
}

.zmiti-login-ui > section .zmiti-login-C .zmiti-browner-tip {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
  position: absolute;
  top: -100px;
  -webkit-animation: 1s flash infinite alternate;
  animation: 1s flash infinite alternate;
}

@-webkit-keyframes flash {
  to {
    opacity: .2;
  }
}

@keyframes flash {
  to {
    opacity: .2;
  }
}

@-moz-keyframes flash {
  to {
    opacity: .2;
  }
}

.zmiti-login-ui > section .zmiti-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  left: 0;
  background: #cc0000;
}
