@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

body{
    overflow: hidden;
}
.wm-rater-main-ui{
    background: #eee;
     .wm-rater-header {
         height: 50px;
         width: 100%;
         line-height: 50px;
         border-bottom: 1px solid #eee;
         &>div {
             font-size: 18px;
             margin-left: 40px;
             @include pos(r);
             &:nth-of-type(1){
                 @include pos(a);
                 left: 0;
                 top: 0;
             }
         }

         .wm-rate-tabs{
             width: 50%;
             margin: 0 auto;
             ul{
                 @include displayFlex(row);
                 -webkit-justify-content:space-around;
                 justify-content:space-around;

                 li{
                    padding: 0 20px;
                    cursor: pointer;
                   &.active{
                       color:#cc0000;
                       @include pos(r);
                       &:before{
                           content:'';
                           @include pos(a);
                           width: 100%;
                           height: 2px;
                           background:#cc0000;
                           left: 0;
                           bottom: 0;
                       }
                   }  
                 }
             }
         }
     }

     .wm-rater-search-where{
         width: 100%;
         height: 50px;
         margin: 2px 0;
         line-height: 50px;

         border:1px solid #FFF;
         @include pos(r);
         &>span{
            @include pos(a);
            left: 30px;
            color:#000;
         }
         ul{
              @include displayFlex(flex);
              
              max-width: 600px;
              width: 24vw;
              margin-left: 80px;;
              justify-content: space-around;
              -webkit-justify-content: space-around;

              li{
                  cursor: pointer;
                  @include pos(r);
                  width: 140px;
                  font-size:14px;
                  text-align: center;
                  &.active{
                      color:#b20000;
                     &:before{
                         content:'';
                         @include pos(a);
                         width: 100%;
                         height: 2px;
                         background: #b20000;
                         left: 0;
                         bottom: 0;

                     }
                  }
              }
         }
     }
      .wm-report-list-title{
         width: 100%;
         height: 50px;
         line-height: 50px;
         text-align: center;
         @include displayFlex(row);
         box-sizing:border-box;
         border:1px solid #eee;
         &>div{
            &:nth-of-type(1){
              width: 60%;
              border-right:1px solid #eee;
              margin-left: -5px;
            }
            &:nth-of-type(2){
              width: 40%;
            }
         }
      }
     .wm-report-list {
         $color:#FFF;
         border-left: 1px solid  $color;
         box-sizing: border-box;
         border-top: 1px solid  $color;
         .wm-load-more{
             width: 100%;
             height: 40px;
             line-height: 40px;
             text-align: center;
             cursor: pointer;
             float: left;
             -webkit-user-select: none;
         }
         li {
             border-right: 1px solid  $color;
             border-bottom: 1px solid  $color;
             float: left;
             width: 100%;
             box-sizing: border-box;
             @include pos(r);
             height: 170px;;

             border:1px solid #eee;
             margin: 5px 0;

            &.reportitem-enter-active,
            &.reportitem-leave-active
           {
                @include transition(.6s);
            }

            &.reportitem-enter,
            &.reportitem-leave-to
           {
                height: 0;
                overflow: hidden;
            }
            &.delete{
               height: 0;
               overflow: hidden;
               @include transition(.45s);
            }
            &.active{
                 background:#fbfbfb !important;
            }
             /* @include displayFlex(row);
             justify-content: space-between; */
           //  min-height: 160px;
             &>div {
                 float: left;
                 &:nth-of-type(1) {
                     width: 60%;
                     -webkit-flex-grow: 3;
                     flex-grow: 3;
                     border-right:1px solid  $color;
                 }
                 &:nth-of-type(2) {
                     width: 40%;
                     
                 }

                 .wm-report-detail{
                     @include displayFlex(row);
                     margin-right: 20px;
                     
                     div{
                        &:nth-of-type(2){
                            
                        }
                    }
                    padding: 20px;
                    .wm-report-pcbilethum{
                        width: 230px;
                        height: 130px;
                        @include displayFlex(row);
                        background: #f4f4f4;
                        
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-align-items: center;
                        align-items: center;
                        overflow: hidden;
                        margin-right: 20px;
                        
                        img{
                            display: block;
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                 

                    @at-root.wm-myreport-item {
                        @include displayFlex(row);
                        min-height: 24px;
                        line-height: 26px;
                        width: 100%;
                        &>div {
                            &:nth-of-type(1) {
                                text-align: center;
                               width:40px;
                            }
                            &:nth-of-type(2) {
                                overflow: hidden;
                                flex:1;
                                -webkit-flex:1;
                                margin-left: 20px;;
                            }
                            input {
                                height: 24px;
                                border: 1px solid #eee;
                                outline: none;
                            }
                        }
                    }


                    .filedesc{
                        height: 70px;
                        max-width:17vw;;
                        overflow: hidden;
                    }
                 }
             }



             .wm-report-rate-C{
                @include displayFlex(row);
                .wm-report-rate-input{
                    width: 70%;
                    border-left:1px solid #eee;
                    textarea{
                      margin: 10px;
                      width: 80%;
                      background:#f4f4f4;
                      height: 140px;
                      resize: none;
                    }
                }
                .wm-report-rate-btns{
                  width: 30%;
                  border-left: 1px solid #eee;
                  &>div{
                    @include displayFlex(column);
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  }

                  .wm-report-adopt,.wm-report-reject{
                      width: 50px;
                      height: 50px;
                      cursor: pointer;
                      @include br();
                      margin: 4px 0;
                      color:#fff;
                      @include pos(r);
                      span{
                        @include pos(a);
                        width:100%;
                        height: 100%;
                        text-align:center;
                        line-height: 70px;
                      }
                        &.reject-enter-active,
                        &.reject-leave-active,
                        &.pass-enter-active,
                        &.pass-leave-active {
                           @include transition(.3s);
                        }

                        &.reject-enter,
                        &.reject-leave-to,
                        &.pass-enter,
                        &.pass-leave-to
                        {
                          width: 0;
                          height: 0;
                          overflow: hidden;
                        }
                        &.pass {
                            background: #fff;
                            color: yellowgreen;
                            &::before{
                                border-color:yellowgreen;
                            }
                            cursor: text;
                        }
                        &.reject {
                            cursor: text;
                            background: #fff;
                            color: #b20000;
                            &::before,&:after {
                                background:#b20000;
                            }
                        }
                  }
                  .wm-report-adopt{
                      background:yellowgreen;
                      &:before{
                        content:"";
                        @include pos(a);
                        width: 20px;
                        height: 12px;
                        @include transform(rotate(-40deg) skew(10deg));
                        left: 14px;
                        border:3px solid #fff;
                        border-right:none;
                        border-top:none;
                        top:8px;;

                      
                      }
                  }
                  .wm-report-reject{
                    background:#b20000;

                    &:before,&:after{
                        content:"";
                        @include pos(a);
                        width: 20px;
                        height: 3px;
                        left: 50%;
                        background: #fff;
                        border-right:none;
                        border-top:none;
                        top:50%;
                        margin-top: -8px;

                        @include transform( translate3d(-50%,-50%,0) rotate(45deg));
                      }
                      &:after{
                          width: 3px;
                          height: 20px;

                      }
                  }
                }
             }
         }

     }

     .wm-myreport-right {
        background: #fff;
        //overflow: auto;
        height: 100%;

        .wm-tag-list-C {
            width: 100%;
           
        }

        .wm-userlabel-header {
            @include displayFlex(row);

            width: 95%;
            margin: 40px auto 0;

            & > div {
                &:nth-of-type(1) {
                    width: 40px;
                    text-align: right;
                }

                &:nth-of-type(2) {
                    -webkit-flex-grow: 1;
                    flex-grow: 1;
                    overflow: hidden;

                    @include pos(r);

                    input {
                        width: 90%;
                        margin-left: 10%;

                        //border:none;
                        border: 1px solid #eee;
                        text-align: center;

                        @include pos(r);

                        outline: none;

                        @include br(4px);

                        &::-webkit-input-placeholder {
                            color: #ddd;
                        }
                    }
                }

                &:nth-of-type(3) {
                    width: 50px;

                    @include pos(r);

                    & > div {
                        @include pos(a);

                        cursor: pointer;
                        width: 20px;
                        height: 20px;

                        @include br;

                        top: 5px;
                        left: 10px;
                        border: 1px solid #f5a420;

                        &:before, &:after {
                            content: '';

                            @include pos(a);

                            width: 10px;
                            height: 1px;
                            background: #f5a420;
                            left: 50%;
                            top: 50%;

                            @include transform(translate3d(-50%, -50%, 0));
                        }

                        &:after {
                            width: 1px;
                            height: 10px;
                        }
                    }
                }
            }
        }

        .wm-tag-list {
            width: 85%;
            margin: 10px auto;
        }

        

        .wm-myreport-item {
            min-height: 24px;
            line-height: 24px;
            max-width: 90%;
            margin: 4px auto;
            float: left;
            width: 100%;
            &>div {
                float: left;
                &:nth-of-type(1) {
                    text-align: left;
                    width: 24%;
                    margin-left: 2%;
                }
                &:nth-of-type(2) {
                    width: 78%;
                    cursor: pointer;
                }
                input {
                    height: 24px;
                    border: 1px solid #eee;
                    outline: none;
                }
            }
        }
        

          .wm-report-detail {
              padding: 10px;
              box-sizing: border-box;
              @include pos(a);
              width: 100%;
              min-width: 300px;
              bottom: 0;
              left:0;
              z-index: 12;
             // @include transform(translate3d(-50%, 0, 0));
              background: rgba(0, 0, 0, 0.7);
              color: #fff;
              @include transition(0.4s);
              &.hide {
                  height: 40px;
                  overflow: hidden;
                  &>span {
                      &:before,
                      &:after {
                          @include transform(rotate(225deg));
                          top: 4px;
                      }
                      &:after {
                          top: 8px;
                      }
                  }
              }
              &.wm-audio {
                  @include pos(r);
                  .wm-myreport-title {}
              }
              &.wm-video-detail {
                  &.hide {
                      bottom: -40px;
                  }
              }
              &>span {
                  @include pos(a);
                  right: 30px;
                  top: 10px;
                  cursor: pointer;
                  &:before,
                  &:after {
                      content: '';
                      right: -12px;
                      top: 0px;
                      @include pos(a);
                      width: 8px;
                      height: 8px;
                      border: 1px solid #fff;
                      border-left: none;
                      border-top: none;
                      @include transform(rotate(45deg));
                  }
                  &:after {
                      top: 4px;
                  }
              }
              .wm-myreport-item {
                  div {
                     // padding-right: 2px;
                      text-align: left;
                  }
                  .wm-tag-list-C {
                      @include displayFlex(row);
                      -webkit-flex-grow: 1;
                      flex-grow: 1;
                      &>div {
                          &:nth-of-type(1) {
                              width: 40px;
                          }
                          &:nth-of-type(2) {
                              margin-left: 20px;
                              max-width: 200px;
                          }
                      }
                  }
              }
          }

          
    }


     .wm-report-C {
         background: rgba(0, 0, 0, 0.9);
         z-index: 1000;
         position: fixed !important;
         @include displayFlex(row);
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-align-items: center;
         align-items: center;

         .wm-report-qrcode {
             width: 130px;
             height: 130px;
             @include pos(a);
             right: 0;
             bottom: 0;
             z-index: 10;

             img {
                 @include pos(a);
                 left: 0;
                 top: 0;
             }
         }

         .wm-report-print{
             display: none;
         }

        .wm-preview-action {
            position: absolute !important;
            right: 20px;
            top: 60px;
            width: 160px;
            z-index: 100;

            span {
                a {
                    color: inherit;
                }

                display: inline-block;
                width: 40px;
                height: 40px;
                @include br;
                cursor: pointer;
                background: #000;
                text-align: center;
                line-height: 36px;
                font-size:24px;
                color:#fff;

                &:nth-of-type(2) {
                    margin-left: 15px;
                }
            }

            .wm-report-close {
                $color: #fff;
                @include transform(rotate(45deg));
                z-index: 10;
                @include pos(a);
                //@include pos(a);
                right: 0;
                top: 0;

                &:before,
                &:after {
                    content: '';
                    @include pos(a);
                    width: 18px;
                    height: 2px;
                    background: $color;
                    left: 50%;
                    top: 50%;
                    @include transform(translate3d(-50%, -50%, 0));
                }

                &:after {
                    width: 2px;
                    height: 18px;
                }
            }
        }

         .wm-rater-mask-tip{
             @include pos(f);
             width: 100vw;
             left: 0;
             max-width: 100vw;
             bottom: 0;
             line-height: 30px;
             text-align: center;
             color:#fff;
         }


         &>div {
             max-width: 80vw;
             max-height: 60vh;
             @include pos(r);
             .xlsx,
             .doc,
             .pdf,
             .ppt,
             .xls,
             .docx,
             .html,
             .css,
             .scss,
             .js,
             .vb,
             .shtml,
             .zip,
             .dmg {
                 display: block;
                 margin: 0 auto;
                 position: relative !important;
             }

             overflow: hidden;
             .wm-report-detail {
                 padding: 10px;
                 box-sizing: border-box;
                 @include pos(a);
                 z-index: 13;
                 width: 100%;
                 min-width: 300px;
                 bottom: 0;
                 left:50%;
                 @include transform(translate3d(-50%, 0, 0));
                 background: rgba(0, 0, 0, 0.7);
                 color: #fff;
                 @include transition(0.4s);
                 &.hide {
                     height: 40px;
                     overflow: hidden;
                     &>span {
                         &:before,
                         &:after {
                             @include transform(rotate(225deg));
                             top: 4px;
                         }
                         &:after {
                             top: 8px;
                         }
                     }
                 }
                 &.wm-audio {
                     @include pos(r);
                     .wm-myreport-title {}
                 }
                 &.wm-video-detail {
                     &.hide {
                         bottom: -40px;
                     }
                 }
                 &>span {
                     @include pos(a);
                     right: 30px;
                     top: 10px;
                     cursor: pointer;
                     &:before,
                     &:after {
                         content: '';
                         right: -12px;
                         top: 0px;
                         @include pos(a);
                         width: 8px;
                         height: 8px;
                         border: 1px solid #fff;
                         border-left: none;
                         border-top: none;
                         @include transform(rotate(45deg));
                     }
                     &:after {
                         top: 4px;
                     }
                 }
                 .wm-myreport-item {
                     div {
                        // padding-right: 2px;
                         text-align: left;
                         
                     }
                     .wm-tag-list-C {
                         @include displayFlex(row);
                         -webkit-flex: 1;
                         flex: 1;
                         &>div {
                             &:nth-of-type(1) {
                                 width: 40px;
                             }
                             &:nth-of-type(2) {
                                 margin-left: 20px;
                                 flex:1;
                                 -webkit-flex:1;
                             }
                         }
                     }
                 }
             }
             img {
                 width: auto;
                 height: auto;
                 max-height: 60vh;
                 max-width: 80vh;
             }
             video {
                 width: auto;
                 max-height: 60vh;
             }
         }

         &>.original{
            overflow: auto;
            padding: 30px;
            width: 100vw;
            height: 100vh;
            max-width: 100vw;
            max-height: 100vh;
            text-align: center;
            
            .wm-myreport-item,
            .wm-report-detail {
                display: none;
            }
            img{
                width:auto;
                height: auto;
                max-width: 1000vw;
                max-height: 1000vh;
            }
         }

         &>.wm-report-check-in-mask{
             width: 300px;
             height:200px;
             background:#232323;
             @include pos(a);
             right: 40px;
             bottom: 40px;
             @include br(6px);

             @include transition(.4s);
             &.hide{
                 @include transform(translate(0,50px));
                 opacity: 0;
             }

             &>div{
                 &:nth-of-type(1){
                    padding: 10px;
                    @include br(6px);
                    textarea{
                        background:#0f0f0f;
                        border: none;
                        resize: none;
                        height: 100px;
                        color:#fff;
                        &::-webkit-input-placeholder{
                            color:#fff;
                        }
                    }   
                 }
                 &:nth-of-type(2){
                    @include displayFlex(row);
                    justify-content:space-evenly;
                    
                    &>div{
                        width: 40px;
                        height: 40px;
                        
                    }

                    .wm-report-adopt,
                    .wm-report-reject {
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        @include br();
                        margin: 4px 0;
                        color: #fff;
                        @include pos(r);
                        span {
                            @include pos(a);
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 70px;
                        }
                        &.reject-enter-active,
                        &.reject-leave-active,
                        &.pass-enter-active,
                        &.pass-leave-active {
                            @include transition(.3s);
                        }
                        &.reject-enter,
                        &.reject-leave-to,
                        &.pass-enter,
                        &.pass-leave-to {
                            width: 0;
                            height: 0;
                            overflow: hidden;
                        }
                        &.pass {
                            background:transparent;
                            color: #fff;;
                            &::before {
                                border-color: #fff;
                            }
                            cursor: text;
                        }
                        &.reject {
                            cursor: text;
                            background:transparent;
                            color: #b20000;
                            &::before,
                            &:after {
                                background: #b20000;
                            }
                        }
                    }

                    .wm-report-adopt {
                        background: yellowgreen;
                        &:before {
                            content: "";
                            @include pos(a);
                            width: 20px;
                            height: 12px;
                            @include transform(rotate(-40deg) skew(10deg));
                            left: 14px;
                            border: 3px solid #fff;
                            border-right: none;
                            border-top: none;
                            top: 8px;
                            ;
                        }
                    }

                    .wm-report-reject {
                        background: #b20000;
                        &:before,
                        &:after {
                            content: "";
                            @include pos(a);
                            width: 20px;
                            height: 3px;
                            left: 50%;
                            background: #fff;
                            border-right: none;
                            border-top: none;
                            top: 50%;
                            margin-top: -8px;
                            @include transform( translate3d(-50%, -50%, 0) rotate(45deg));
                        }
                        &:after {
                            width: 3px;
                            height: 20px;
                        }
                    }

                 }
             }

         }
         .wm-report-close {
             $color: #fff;
             @include pos(a);
             width: 40px;
             height: 40px;
             @include br;
             cursor: pointer;
             right: 20px;
             @include transform(rotate(45deg));
             background:#000;
             top: 60px;
             z-index: 10;
             &:before,
             &:after {
                 content: '';
                 @include pos(a);
                 width: 18px;
                 height: 2px;
                 background: $color;
                 left: 50%;
                 top: 50%;
                 @include transform(translate3d(-50%, -50%, 0));
             }
             &:after {
                 width: 2px;
                 height: 18px;
             }
         }
     }

     .wm-right-thumb {
         padding-top: 20px;
         margin: 0 auto;
         height: 130px;
         width: 230px;
         @include displayFlex(row);
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-align-items: center;
         align-items: center;
         overflow: hidden;
     }
    .wm-report-detail-content{
        width: 70%;
    }



     .ivu-poptip-confirm .ivu-poptip-body .ivu-icon{
         left: 30px;
     }
     
}

.ivu-table-body::-webkit-scrollbar,
.ivu-scroll-container::-webkit-scrollbar,
.wm-scroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

.ivu-table-body::-webkit-scrollbar-thumb,
.ivu-scroll-container::-webkit-scrollbar-thumb,
.wm-scroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.ivu-table-body::-webkit-scrollbar-track,
.ivu-scroll-container::-webkit-scrollbar-track,
.wm-scroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}