/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-addstudent-ui {
  width: 100%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.wm-addstudent-ui .wm-addstudent-header {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
}

.wm-addstudent-ui .wm-addstudent-header > div:nth-of-type(1) {
  position: relative;
  text-indent: .5em;
}

.wm-addstudent-ui .wm-addstudent-header > div:nth-of-type(1):before {
  content: '';
  width: 4px;
  height: 24px;
  background: #be0000;
  left: -4px;
  position: absolute;
  top: 12px;
}

.wm-addstudent-ui .wm-addstudent-main {
  border-top: 1px solid #dcdee2;
  padding-top: 10px;
  box-sizing: border-box;
}

.wm-addstudent-ui .wm-addstudent-step {
  margin: 0 auto;
  width: 94%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-addstudent-ui .wm-addstudent-step li {
  flex: 1;
  -webkit-flex: 1;
  line-height: 24px;
  height: 56px;
  position: relative;
}

.wm-addstudent-ui .wm-addstudent-step li:before, .wm-addstudent-ui .wm-addstudent-step li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #dcdcdc;
  left: 50px;
  top: 12px;
  z-index: 0;
}

.wm-addstudent-ui .wm-addstudent-step li > div {
  position: absolute;
  width: 100px;
  text-align: center;
}

.wm-addstudent-ui .wm-addstudent-step li.active1:after {
  background: #f90;
}

.wm-addstudent-ui .wm-addstudent-step li.active .wm-step-index {
  background: #f90;
}

.wm-addstudent-ui .wm-addstudent-step li.active section {
  color: #f90;
}

.wm-addstudent-ui .wm-addstudent-step li.active:before {
  content: '';
  background: #f90;
  width: 50%;
  z-index: 10;
}

.wm-addstudent-ui .wm-addstudent-step li .wm-step-index {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  position: relative;
  background: #dcdcdc;
  margin: 0 auto;
  color: #fff;
}

.wm-addstudent-ui .wm-addstudent-step li .wm-step-index span {
  position: relative;
  z-index: 10;
}

.wm-addstudent-ui .wm-addstudent-step li:last-of-type {
  flex: none;
  -webkit-flex: none;
  width: 100px;
  text-align: right;
}

.wm-addstudent-ui .wm-addstudent-step li:last-of-type:after {
  display: none;
}

.wm-addstudent-ui .wm-addstudent-step li:last-of-type:before {
  background: #dcdcdc;
  display: none;
  left: -75%;
  width: 100%;
}

.wm-addstudent-ui .wm-step-content-wrap {
  width: 400px;
  min-height: 50vh;
  overflow: hidden;
  margin: 10px auto;
}

.wm-addstudent-ui .wm-step-content-wrap ol {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li {
  width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-title {
  text-align: center;
  color: #be0000;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #eeeeee;
  margin: 10px 0;
  border-radius: 4px;
  padding: 0 20px;
  position: relative;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item.displayBox {
  padding: 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item.displayBox > div:nth-of-type(1) {
  width: 80px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item.displayBox > div:nth-of-type(2) {
  flex: 1;
  width: 240px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item.wm-recruitaction-desc {
  line-height: 42px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item section {
  height: 30px;
  line-height: 30px;
  padding-top: 4px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item section.wm-accept-list {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item section.wm-accept-list label {
  display: block;
  flex: 1;
  -webkit-flex: 1;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item label {
  display: inline-block;
  margin-right: 10px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item input {
  height: 34px;
  background: transparent;
  border: none;
  outline: none;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-form-item textarea {
  position: absolute;
  height: 60px;
  width: 70%;
  overflow: hidden;
  resize: none;
  top: 5px;
  background: transparent;
  border: none;
  outline: none;
  line-height: 30px;
  padding-left: 10px;
}

.wm-addstudent-ui .wm-step-content-wrap ol > li .wm-recruitaction-next-btn button {
  background: #fcb90a;
  border-color: #fcb90a;
}
