@import "../../components/css/base.scss";

.zmiti-practice-box{
    padding: 10px;
    .zmiti-practice-header{
    position: relative;
    height: 50px;
    div:nth-of-type(1){
        
        @include pos(a);
        left: 0;
        top: 0;
        font-size: 26px;
        color: #000; 
        padding-left: 10px;        
        line-height: 50px;
        &:before{
            content: '';
            width: 4px;
            height: 24px;
            border-left: 3px solid #2d8cf0;
            position: absolute;
            left: 0;
            top: 13px;
        }

    }
  
    div:nth-of-type(2){
        position: absolute;
        right: 0;
        top: 10px;
    }
}
    .zmiti-practice-cont{
        position: relative;
        flex: 1;
        .zmiti-table{
           width: 100%;
           position: absolute;
           left: 0;
           top: 0;
           transition: 0.3s;
           .ivu-table-wrapper{
               border-bottom: none;
               border-right: none;
           }
        }
        .active{
            width: 70%;
        }
        .zmiti-add{
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.3s;  
            overflow: hidden;
            width: 28%;
            header{
                padding-left: 30px;
            }
            .zmiti-add-form{
                margin-bottom: 30px;
            label{
                width: 100px;
                text-align: left;
                padding: 10px 12px 0 10px;
                float: left;
            }
            .zmiti-add-name:before{
                    content: '*';
                    color: #ed4014;
                }
            .zmiti-practice-input{
                margin-left: 100px;
                input{
                    width: 100%;
                    line-height: 30px;
                }
                textarea{
                    width: 100%;
                    height: 80px;
                }
            }  
            } 
            .zmiti-btn{
                padding-left: 100px;
                Button{
                    margin: 10px 20px;
                }
            }         
        }
        table{
            width: 100%;
            font-size: 14px;
            table-layout: fixed;
            text-align: center;
           
        }
    }
}
