@import "../css/base.scss";
$color:rgb(55, 61, 65);
$primary-color: #00c1de;
.layout{

	.layout-logo{
		color: #FFF;
		img{
			height: 35px;
			width: auto;
		}
	}
	.ivu-layout{
		
	}

	.ivu-layout-header{
		 @include displayFlex(row);
		 justify-content: space-between;
		 background:$color;
		  height: 50px;
		  line-height: 50px;
		 &>div{
			 //margin: 0 20px;


			 &:nth-of-type(1){
				 width: 200px;
				 @include displayFlex(row);
				 color:#fff;
				 text-align: center;
				 .zmiti-title{
					 margin: 0 auto;
					 width: 200px;
				 }
				 
			 }

			 &:nth-of-type(2) {
				 -webkit-flex:1;
				 flex:1;
				 @include displayFlex(row);
				 div{
					color:#fff;
					font-size:16px;
					margin: 0 20px;
					a{
						color:inherit;

					}
				 }
				
			 }

			 &.zmiti-user-info{
				 @include displayFlex(row);
				 min-width: 200px;
				 color:#fff;
				 @include pos(r);
				 -webkit-justify-content:space-between;
				 justify-content:space-between;
				 
				 div{
					 min-width: 50px;
					 top: 0;
					 height: 100%;
					 cursor: pointer;
					 text-align: center;

					 img{
						 width: 26px;
					 }
				 }
				
				  
			 }
		 }
		 
		 
		 /* Safari 5.1 - 6.0 */
	}

	.zmiti-user{
		img{
			width: 50px;
		}
	}

	.zmiti-main-page{
		-webkit-flex:1;
		flex:1;
	}

	.zmiti-tab-C{
		background:$color;
		width:50px;
		@include pos(a);
		z-index: 1002;
		overflow: hidden;
		@include transition(width .2s .1s);
		color:#fff;
		&:hover{
			width: 200px;
		}

		&>div{
			width: 200px;
			background: $color;
			border:1px solid $color;
		}

		ul>li{
			height: 40px;
			line-height: 40px;
			cursor: pointer;
			@include displayFlex(row);
			&>div{
				&:nth-of-type(1){
					width: 50px;
					text-align: center;
					
					img{
						width: 16px;
					}
					i{
						font-size:16px;
					}
				}
				&:nth-of-type(2){
					flex:1;
					-webkit-flex:1;
				}
			}
		}
		.zmiti-menu-title{
			font-size:14px;
			
			margin: 6px 0;
			@include pos(r);
			&:hover{
				background:$primary-color;
			}
			&:before,&:after{
				content:"";
				@include pos(a);
				width: 100%;
				height: 1px;
				background:hsla(0, 0%, 100%, .1);
				left: 0;
				top: -6px;
			}
			&:after{
				top: auto;
				bottom: -6px;
			}
		}
		.zmiti-menu-item{
			font-size:12px;
			margin-left: -1px;
			@include pos(r);
			&:hover{
				background:#192129;
				&>div:nth-of-type(2){
					color:$primary-color;
				}
			}
			a{
				@include pos(a);
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
		a{
			display: block;
			width: 100%;
			height: 100%;
			color: inherit;
		}
		
		img{
			width: 20px;
		}
	}

	.ivu-layout-sider-children{
		overflow: hidden;
	}

	.layout-nav{
		li>a{
			color:rgba(255, 255, 255, 0.7);
			&:hover{
				color:rgba(255, 255, 255, 1);
			}
		
			&.router-link-active{
				color:rgba(255, 255, 255, 1);
			}
		}
	}

	.zmiti-main-layout{
		@include displayFlex(row);

	}

	.symbin-main-menu{
		background: #333744!important;
		li{
			@include pos(r);
		}
		a{
			@include pos(a);
			width: 100%;
			height: 100%;
			color:inherit;
			left: 0;
			top:0;
			text-align: center;
			line-height: 50px;
		}
		a:hover{
			color: inherit;
		}
	}

	i.ivu-icon-ionic{
		opacity: 0;
	}
	.ivu-menu-item {
		text-indent: 0em;
	}
	.ivu-menu-item > a > i{
		margin-right: 6px;
	}
	.ivu-menu-submenu .ivu-menu-item{
		padding-left: 10px!important;
	}
}