.zmiti-pwdfind header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #373d41;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.zmiti-pwdfind header > div:nth-of-type(2) {
  font-size: 16px;
  margin: 0 20px;
}

.zmiti-pwdfind header > div:nth-of-type(1) {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: #fff;
}

.zmiti-pwdfind header .zmiti-title {
  height: 50px;
  line-height: 50px;
  position: relative;
}

.zmiti-pwdfind header .zmiti-title img {
  width: 80px;
  vertical-align: middle;
}

.zmiti-pwdfind header .zmiti-title span {
  position: absolute;
  left: 110%;
  bottom: 14px;
  height: 30px;
}

.zmiti-pwdfind header .login {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.zmiti-pwdfind header .login a {
  color: #fff;
}

.zmiti-pwdfind header .login a:hover {
  text-decoration: none;
}

.zmiti-pwdfind .zmiti-pwdfing-main {
  margin: 20px auto;
  padding-top: 80px;
  width: 1000px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box {
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .item {
  background-color: #cfcfcf;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .item > div:first-child {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  background-color: #cfcfcf;
  right: -15px;
  z-index: 1;
  text-align: center;
  line-height: 30px;
  top: -10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 2px #f1f1f1;
          box-shadow: 0px 0px 1px 2px #f1f1f1;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .item > div:last-child {
  position: absolute;
  color: #cfcfcf;
  font-size: 16px;
  text-align: center;
  width: 100%;
  right: -50%;
  bottom: -50px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .active {
  background-color: #00c1de;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .active > div:first-child {
  background-color: #00c1de;
  -webkit-box-shadow: 0px 0px 1px 2px #b2ecf5;
          box-shadow: 0px 0px 1px 2px #b2ecf5;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .active > div:last-child {
  color: #00c1de;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .pass {
  background-color: #87e3f1;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .pass > div:first-child {
  background-color: #87e3f1;
  -webkit-box-shadow: 0px 0px 1px 2px #b2ecf5;
          box-shadow: 0px 0px 1px 2px #b2ecf5;
}

.zmiti-pwdfind .zmiti-pwdfing-main .step-box .pass > div:last-child {
  color: #87e3f1;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box {
  margin-top: 100px;
  color: #525b6e;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-tip {
  font-size: 18px;
  margin-bottom: 25px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-first {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 0 25px;
  border: 1px solid #dddddd;
  margin-bottom: 45px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-first p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  height: 90px;
  padding: 0 25px;
  border: 1px solid #dddddd;
  margin-bottom: 45px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-second p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .validate-second strong {
  color: #00c1de;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .bottom-tips {
  background-color: #fffbed;
  border: 1px solid #f9efd3;
  padding: 30px 30px 15px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .bottom-tips .bottom-tips-title {
  color: #646565;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .bottom-tips .ui-list {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .bottom-tips .ui-list-item {
  font-size: 9px;
  line-height: 22px;
  color: #737373;
}

.zmiti-pwdfind .zmiti-pwdfing-main .validate-box .bottom-tips .ui-list-item .ui-list-item-text {
  font-size: 12px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .zmiti-form {
  width: 400px;
  margin: 100px auto 50px auto;
  text-align: center;
}

.zmiti-pwdfind .zmiti-pwdfing-main .zmiti-form-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto;
  height: 95px;
  border: 1px solid #9fd563;
  background-color: #f5fbef;
  padding: 0 20px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .zmiti-form-success img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.zmiti-pwdfind .zmiti-pwdfing-main .zmiti-form-success p {
  font-size: 22px;
  color: #9fd563;
}

.zmiti-pwdfind .zmiti-pwdfing-main .zmiti-form-success a {
  color: #ff4401;
  font-size: 16px;
}
/*# sourceMappingURL=index.css.map */