@import "../css/base.scss";

li{
	list-style: none;
}
.zmiti-resourcelist-ui {
  width: 99%;
  height: 99%;
  background: #fff;
  margin: 0.5% auto;
  @include displayFlex(column);
  .zmiti-resourcelist-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    @include displayFlex(row);
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #ddd;
    h3 {
      text-indent: 1em;
    }
    div {
      text-indent: -1em;
      i {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  .zmiti-resourcelist-content {
    flex: 1;
    -webkit-flex: 1;
    @include displayFlex(row);
    .zmiti-resource-cate {
      width: 220px;
      border-right: 1px solid #ddd;
      @include pos(r);
      .zmiti-resource-upload {
        @include pos(a);
        bottom: 10px;
        left: 8px;

        button {
          width: 200px;
          i {
            font-size: 20px;
          }
        }
      }
      div {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-indent: 1em;
        border-bottom: 1px solid #f2f2f2;
        @include pos(r);
        cursor: pointer;
        &.active {
          color: #00c1dd;
          font-weight: bold;
          i {
            font-weight: bold;
            color: #00c1dd;
          }
          &::before {
            border-color: #00c1dd;
            @include transform(rotate(135deg));
          }
        }
        &:before {
          content: "";
          @include pos(a);
          width: 12px;
          height: 12px;
          border: 2px solid #f2f2f2;
          top: 12px;
          right: 20px;
          @include transform(rotate(45deg));
          border-left: none;
          border-bottom: none;
          @include transition(0.2s);
        }
      }

      .zmiti-child-cate {
        font-size: 12px;
        text-indent: 3em;
        li {
          color: #666;
          &.active {
            color: #00c1dd;
            background: #f2f2f2;
            font-weight: bold;
          }
        }
      }
    }
    .zmiti-resource-list {
      flex: 1;
      -webkit-flex: 1;
      @include displayFlex(column);
      .zmiti-resource-C {
        flex: 1;
        overflow: auto;
        -webkit-flex: 1;
        height: 400px;
        overflow-x: hidden;
        ul {
          width: 100%;
          @include displayFlex(row);
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          box-sizing: border-box;

          li {

			&.zmiti-resouce-nodata{
				height:30px;
				line-height: 30px;

				text-align: center;
				width: 100%;
				background: #f1f1f1;
				border:1px solid #eee;

			}
            width: 18%;
            height: 280px;
            margin: 30px 0 0 1.66%;

            @include pos(r);

            box-sizing: border-box;
            @include displayFlex(column);

            .zmiti-reource-name {
              height: 30px;
              line-height: 30px;
            //text-align: center;
            }
            .zmt_iconfont {
              color: #c4c4c4;
            }
            .zmiti-file-progress,
            .zmiti-file-disabled {
              @include pos(a);

              width: 100%;
              height: 100%;
              // background: rgba(120,230,247, 0.2);
              text-align: center;

              line-height: 30px;
              color: #fff;
              font-size: 14px;
            }

            .zmiti-file-progress {
              z-index: 10;
              @include displayFlex(column);

              .zmiti-progress-bar {
                width: 90%;
                margin: 0 auto;
                flex: none;
                -webkit-flex: none;
                border: 1px solid #00c1dd;
                @include br(10px);
                height: 12px;

                overflow: hidden;
                span {
                  width: 100%;
                  @include br(10px);
                  height: 100%;
                  background: #00c1dd;
                  @include pos(a);
                  left: 0;
                  top: 0;
                  $color: rgba(120, 230, 247, 0.2);
                  background-size: 100% 100%;
                  background-image: linear-gradient(
                    -45deg,
                    $color 0,
                    transparent 20%,
                    $color 20%,
                    transparent 40%,
                    $color 40%,
                    $color 60%,
                    transparent 60%,
                    $color 80%,
                    transparent 80%,
                    transparent 90%,
                    $color 100%
                  );
                  //-webkit-animation: warning-animation 2s infinite linear;
                  animation: warning-animation 2s infinite linear;
                }
              }

              @-webkit-keyframes warning-animation {
                0% {
                  background-position: 0 0;
                }

                100% {
                  background-position: 100% 0;
                }
              }

              @keyframes warning-animation {
                0% {
                  background-position: 0 0;
                }

                100% {
                  background-position: 100% 0;
                }
              }

              & > div {
                @include pos(r);
                z-index: 10;
                flex: 1;
                font-size: 12px;
                -webkit-flex: 1;
                &:nth-of-type(1) {
                  color: #00c1dd;
                  font-weight: bold;
                  label {
                    @include pos(a);
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    height: 26px;
                  }
                }
              }
              // border: 1px solid rgba(120,230,247, 0.2);

              //  box-shadow: 1vw 3vh 10vh rgba(120,230,247, .7);
            }

            @-webkit-keyframes warning-animation {
              0% {
                background-position: 0 0;
              }

              100% {
                background-position: 3em 0;
              }
            }

            @keyframes warning-animation {
              0% {
                background-position: 0 0;
              }

              100% {
                background-position: 3em 0;
              }
            }
            .zmiti-resource-check {
              @include pos(a);
              left: 17px;
              top: 14px;
              opacity: 0;
              z-index: 20;
              &.zmiti-resource-check-icon {
                width: 30px;
                height: 30px;
                left: 10px;
                top: 10px;
                opacity: 1;
                background: #febf8c;
                @include br();
                z-index: 19;
                &:before {
                  content: "";
                  width: 66%;
                  height: 40%;
                  border-bottom: 3px solid #ffe8d6;
                  border-left: 3px solid #ffe8d6;
                  @include transform(rotate(-45deg) scale(0.8));
                  @include pos(a);
                  @include br(3px);
                  left: 15%;
                  top: 20%;
                }

                &.active {
                  background: #e06809;
                  &:before {
                    border-left-color: #fff;
                    border-bottom-color: #fff;
                  }
                }
              }
            }

            .zmiti-resource-file {
              flex: 1;
              -webkit-flex: 1;
              margin: 0 auto;
              text-align: center;
              width: 100%;
              @include displayFlex(row);
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
              -webkit-align-items: center;
              overflow: hidden;

              .mask {
                &::before {
                  content: "";
                  width: 100%;
                  height: 100%;
                  background: rgba(0, 0, 0, 0.2);
                  @include pos(a);
                  left: 0;
                  top: 0;
                }
              }
              &:hover {
                .lt-full {
                  @include transform(scale(1.2));
                }
              }
              .lt-full {
                @include transition(0.5s);
                @include transform(scale(1));
              }
              &.active {
                .lt-full {
                  @include transform(scale(1));
                }
                &::before {
                  content: "";
                  box-shadow: 0 0 0 1px #00c1dd inset;
                }
              }

              @include pos(r);
              &::before {
                content: "";
                @include pos(a);
                width: 99%;
                height: 99%;
                z-index: 10;
                box-shadow: 0 0 0 1px #ddd inset;
              }
            }
            span {
              font-size: 60px;
              display: block;
			}
			&:hover{
				img{
				
					@include transform(scale(1.2));
				}
			}
            img {
              width: 100%;;
			  height: auto;
			  
              left: 50%;
			  top: 50%;
			  @include transition(.21s);
			  &.small{
				  width: auto;
				  height:auto;
			  }
			  &.fill_height{
				  width:auto;
				  height: 100%;
			  }
              //@include transform(translate(-50%, -50%));
            }
          }
        }
      }
      .zmiti-resource-header1 {
        @include displayFlex(row);
        border-bottom: 1px solid #f2f2f2;
        div {
          margin-left: 20px;
          line-height: 40px;
          height: 40px;
        }
      }
      .zmiti-resource-header {
        @include displayFlex(row);
        width: 100%;
        overflow: hidden;
        height: 40px;
        line-height: 36px;
        border-bottom: 1px solid #f2f2f2;
        & > div {
          &:nth-of-type(1) {
            width: 40px;
            cursor: pointer;
            text-align: center;
            font-size: 30px;
          }
          &:nth-of-type(2) {
            flex: 1;
            -webkit-flex: 1;
          }
          &:nth-of-type(3) {
            width: 100px;
            cursor: pointer;

            font-size: 30px;
          }
        }

        .zmiti-resource-cate-list-C {
          overflow: hidden;
          ul {
            margin-top: 2px;
            @include displayFlex(row);
            li {
              user-select: none;
              -webkit-user-select: none;
              text-align: center;
              width: 100px;
              cursor: pointer;

              @include pos(r);
              .zmt_iconfont {
                color: #ed4014;
                @include pos(a);
                right: -16px;
                top: -20px;
                font-weight: normal;
              }
              span {
                @include pos(r);
                @include transition(0.2s);
              }
              &.active {
                color: #00c1dd;
                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }


  .zmiti-detail-C{
	 width: 96%;
	 margin: 0 auto;
	 
	 .zmiti-detail-img{
		 background: #f5f5f6;

		 @include pos(r);

		@include displayFlex(row);
		justify-content: center;
		height:360px;
		-webkit-justify-content: center;
		align-items:center;
		-webkit-align-items:center;
		 img{
			max-width: 100%;
			max-height: 360px;
			display: block;
		 }

		 .zmiti-deitail-btn{
			 @include pos(a);
			 width: 28px;
			 height: 56px;
			 line-height: 56px;
			 font-size:24px;
			 left: 0;
			 top: 50%;
			 background: rgba(0, 0, 0, 0.2);
			 margin-top: -28px;
			 text-align: center;
			 cursor: pointer;
			 &:nth-of-type(2){
				left: auto;
				right: 0;
			 }

		 }

	 }

	 

	 .zmiti-detail-item{
		 width: 90%;
		 margin: 10px auto;
		 
		
		 @include displayFlex(row);

		 
		 &>div{
			 margin:0 5px;
			 &:nth-of-type(1){
				 width: 70px;
				text-align: right;
				line-height: 30px;;
			}
			&:nth-of-type(2){
				line-height: 30px;
				-webkit-flex:1;
				flex:1;
			 }
		 }

		 .zmiti-tag-list{
			 @include displayFlex(row);
			 flex-wrap:wrap;
			 -webkit-flex-wrap:wrap;
			 div{
				 margin: 5px 2px 0 0;
			 }
		 }
	 }
	 .zmiti-detail-submit{
		 text-align: center;
		 button{
			 width: 100px;
		 }
	 }
	 .zmiti-hr{
		 width: 90%;
		 margin:10px auto;
		 height:1px;
		 background:#eee;
		 
	 }
  }
  .zmiti-resourcelist-footer {
    height: 50px;
    line-height: 50px;
    text-align: right;
    border-top: 1px solid #ddd;
    button {
      margin-right: 20px;
    }
  }
}
.zmiti-addacte-footer {
  @include displayFlex(row);
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 40px;
  span {
    cursor: pointer;
    color: #ed4014;
    text-decoration: underline;
  }
}
