@import "../css/base.scss";

.zmiti-resourcelist-ui {
  width: 99%;
  height: 99%;
  background: #fff;
  margin: 0.5% auto;
  @include displayFlex(column);
  .zmiti-resourcelist-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    @include displayFlex(row);
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #ddd;
    h3 {
      text-indent: 1em;
    }
    div {
      text-indent: -1em;
      i {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  .zmiti-resourcelist-content {
    flex: 1;
    -webkit-flex: 1;
    @include displayFlex(row);
    .zmiti-resource-cate {
      width: 220px;
      border-right: 1px solid #ddd;
      @include pos(r);
      .zmiti-resource-upload {
        @include pos(a);
        bottom: 10px;
        left: 8px;
        input[type="file"] {
          @include pos(a);
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
        button {
          width: 200px;
          i {
            font-size: 20px;
          }
        }
      }
      div {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-indent: 1em;
        border-bottom: 1px solid #f2f2f2;
        @include pos(r);
        cursor: pointer;
        &.active {
          color: #00c1de;
          font-weight: bold;
          i {
            font-weight: bold;
            color: #00c1de;
          }
          &::before {
            border-color: #00c1de;
            @include transform(rotate(135deg));
          }
        }
        &:before {
          content: "";
          @include pos(a);
          width: 12px;
          height: 12px;
          border: 2px solid #f2f2f2;
          top: 12px;
          right: 20px;
          @include transform(rotate(45deg));
          border-left: none;
          border-bottom: none;
          @include transition(0.2s);
        }
      }

      .zmiti-child-cate {
        font-size: 12px;
        text-indent: 3em;
        li {
          color: #666;
          &.active {
            color: #00c1de;
            background: #f2f2f2;
            font-weight: bold;
          }
        }
      }
    }
    .zmiti-resource-list {
      flex: 1;
      -webkit-flex: 1;
      @include displayFlex(column);
      .zmiti-resource-C {
        flex: 1;
        overflow: auto;
        -webkit-flex: 1;
        height: 400px;
        overflow-x: hidden;
        ul {
          width: 100%;
          @include displayFlex(row);
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          box-sizing: border-box;
          margin-left: 3px;

          li {
            width: 180px;
            height: 180px;
            margin: 20px 0 0 21px;

            @include pos(r);

            box-sizing: border-box;
            @include displayFlex(column);

            .zmiti-reource-name {
              height: 30px;
              line-height: 30px;
              text-align: center;
            }

            .zmiti-resource-check {
              @include pos(a);
              left: 17px;
              top: 14px;
              opacity: 0;
              z-index: 20;
              &.zmiti-resource-check-icon {
                width: 30px;
                height: 30px;
                left: 10px;
                top: 10px;
                opacity: 1;
                background: #febf8c;
                @include br();
                z-index: 19;
                &:before {
                  content: "";
                  width: 66%;
                  height: 40%;
                  border-bottom: 3px solid #ffe8d6;
                  border-left: 3px solid #ffe8d6;
                  @include transform(rotate(-45deg) scale(0.8));
                  @include pos(a);
                  @include br(3px);
                  left: 15%;
                  top: 20%;
                }

                &.active {
                  background: #e06809;
                  &:before {
                    border-left-color: #fff;
                    border-bottom-color: #fff;
                  }
                }
              }
            }

            .zmiti-resource-file {
              flex: 1;
              -webkit-flex: 1;
              margin: 0 auto;
              text-align: center;
              width: 100%;
              @include displayFlex(row);
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
			  -webkit-align-items: center;
			   overflow:hidden;
			   &:hover{
					.lt-full {
						@include transform(scale(1));
						
					}
				}
             	.lt-full {
					@include transition(0.5s);
					@include transform(scale(1.2));
					
				}
			   &.active {
				   .lt-full {
						@include transform(scale(1));
					}
					&::before {
						content:'';
						box-shadow: 0 0 0 1px #00c1de inset;
					}
                }
              @include pos(r);
              &::before {
                content: "";
                @include pos(a);
                width: 99%;
				height: 99%;
				z-index: 10;
                box-shadow: 0 0 0 1px #ddd;
              }
            }
            span {
              font-size: 60px;
              display: block;
            }
            img {
              opacity: 0;
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
              @include pos(a);
              left: 50%;
              top: 50%;
              @include transform(translate(-50%, -50%));
            }
          }
        }
      }
      .zmiti-resource-header1 {
        @include displayFlex(row);
        border-bottom: 1px solid #f2f2f2;
        div {
          margin-left: 20px;
          line-height: 40px;
          height: 40px;
        }
      }
      .zmiti-resource-header {
        @include displayFlex(row);
        width: 100%;
        overflow: hidden;
        height: 40px;
        line-height: 36px;
        border-bottom: 1px solid #f2f2f2;
        & > div {
          &:nth-of-type(1) {
            width: 40px;
            cursor: pointer;
            text-align: center;
            font-size: 30px;
          }
          &:nth-of-type(2) {
            flex: 1;
            -webkit-flex: 1;
          }
          &:nth-of-type(3) {
            width: 100px;
            cursor: pointer;

            font-size: 30px;
          }
        }

        .zmiti-resource-cate-list-C {
          overflow: hidden;
          ul {
            margin-top: 2px;
            @include displayFlex(row);
            li {
              user-select: none;
              -webkit-user-select: none;
              text-align: center;
              width: 100px;
              cursor: pointer;

              @include pos(r);
              .zmt_iconfont {
                color: #ed4014;
                @include pos(a);
                right: -16px;
                top: -20px;
                font-weight: normal;
              }
              span {
                @include pos(r);
                @include transition(0.2s);
              }
              &.active {
                color: #00c1de;
                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
  .zmiti-resourcelist-footer {
    height: 50px;
    line-height: 50px;
    text-align: right;
    border-top: 1px solid #ddd;
    button {
      margin-right: 20px;
    }
  }
}
.zmiti-addacte-footer {
  @include displayFlex(row);
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 40px;
  span {
    cursor: pointer;
    color: #ed4014;
    text-decoration: underline;
  }
}

@media all and (max-width: 1600px) {
  .zmiti-resourcelist-ui {
    width: 99%;
    height: 99%;
    background: #fff;
    margin: 0.5% auto;
    @include displayFlex(column);

    .zmiti-resourcelist-content {
      flex: 1;
      -webkit-flex: 1;
      @include displayFlex(row);

      .zmiti-resource-list {
        flex: 1;
        -webkit-flex: 1;
        @include displayFlex(column);
        .zmiti-resource-C {
          flex: 1;
          ul {
            width: 100%;
            @include displayFlex(row);
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            box-sizing: border-box;
            margin-left: 3px;
            li {
              width: 140px;
              height: 140px;
              margin: 10px 0 0 21px;

              @include pos(r);
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1366px) {
  .zmiti-resourcelist-ui {
    width: 99%;
    height: 99%;
    background: #fff;
    margin: 0.5% auto;
    @include displayFlex(column);

    .zmiti-resourcelist-content {
      flex: 1;
      -webkit-flex: 1;
      @include displayFlex(row);

      .zmiti-resource-list {
        flex: 1;
        -webkit-flex: 1;
        @include displayFlex(column);
        .zmiti-resource-C {
          flex: 1;
          ul {
            width: 100%;
            @include displayFlex(row);
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            box-sizing: border-box;
            margin-left: 3px;
            li {
              width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
  }
}
