/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
li {
  list-style: none;
}

.zmiti-resourcelist-ui {
  width: 99%;
  height: 99%;
  background: #fff;
  margin: 0.5% auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-header h3 {
  text-indent: 1em;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-header div {
  text-indent: -1em;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-header div i {
  font-size: 15px;
  cursor: pointer;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate {
  width: 220px;
  border-right: 1px solid #ddd;
  position: relative;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-resource-upload {
  position: absolute;
  bottom: 10px;
  left: 8px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-resource-upload button {
  width: 200px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-resource-upload button i {
  font-size: 20px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate div {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-indent: 1em;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  cursor: pointer;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate div.active {
  color: #00c1dd;
  font-weight: bold;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate div.active i {
  font-weight: bold;
  color: #00c1dd;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate div.active::before {
  border-color: #00c1dd;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate div:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #f2f2f2;
  top: 12px;
  right: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-child-cate {
  font-size: 12px;
  text-indent: 3em;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-child-cate li {
  color: #666;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-cate .zmiti-child-cate li.active {
  color: #00c1dd;
  background: #f2f2f2;
  font-weight: bold;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C {
  flex: 1;
  overflow: auto;
  -webkit-flex: 1;
  height: 400px;
  overflow-x: hidden;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  box-sizing: border-box;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li {
  width: 18%;
  height: 280px;
  margin: 30px 0 0 1.66%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li.zmiti-resouce-nodata {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  background: #f1f1f1;
  border: 1px solid #eee;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-reource-name {
  height: 30px;
  line-height: 30px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmt_iconfont {
  color: #c4c4c4;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress,
.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress {
  z-index: 10;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress .zmiti-progress-bar {
  width: 90%;
  margin: 0 auto;
  flex: none;
  -webkit-flex: none;
  border: 1px solid #00c1dd;
  border-radius: 10px;
  height: 12px;
  overflow: hidden;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress .zmiti-progress-bar span {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background: #00c1dd;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: linear-gradient(-45deg, rgba(120, 230, 247, 0.2) 0, transparent 20%, rgba(120, 230, 247, 0.2) 20%, transparent 40%, rgba(120, 230, 247, 0.2) 40%, rgba(120, 230, 247, 0.2) 60%, transparent 60%, rgba(120, 230, 247, 0.2) 80%, transparent 80%, transparent 90%, rgba(120, 230, 247, 0.2) 100%);
  animation: warning-animation 2s infinite linear;
}

@-webkit-keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress > div {
  position: relative;
  z-index: 10;
  flex: 1;
  font-size: 12px;
  -webkit-flex: 1;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress > div:nth-of-type(1) {
  color: #00c1dd;
  font-weight: bold;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-file-progress > div:nth-of-type(1) label {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 26px;
}

@-webkit-keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}

@keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-check {
  position: absolute;
  left: 17px;
  top: 14px;
  opacity: 0;
  z-index: 20;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-check.zmiti-resource-check-icon {
  width: 30px;
  height: 30px;
  left: 10px;
  top: 10px;
  opacity: 1;
  background: #febf8c;
  border-radius: 50%;
  z-index: 19;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-check.zmiti-resource-check-icon:before {
  content: "";
  width: 66%;
  height: 40%;
  border-bottom: 3px solid #ffe8d6;
  border-left: 3px solid #ffe8d6;
  -webkit-transform: rotate(-45deg) scale(0.8);
  transform: rotate(-45deg) scale(0.8);
  position: absolute;
  border-radius: 3px;
  left: 15%;
  top: 20%;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-check.zmiti-resource-check-icon.active {
  background: #e06809;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-check.zmiti-resource-check-icon.active:before {
  border-left-color: #fff;
  border-bottom-color: #fff;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file {
  flex: 1;
  -webkit-flex: 1;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  position: relative;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file .mask::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file:hover .lt-full {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file .lt-full {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file.active .lt-full {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file.active::before {
  content: "";
  box-shadow: 0 0 0 1px #00c1dd inset;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li .zmiti-resource-file::before {
  content: "";
  position: absolute;
  width: 99%;
  height: 99%;
  z-index: 10;
  box-shadow: 0 0 0 1px #ddd inset;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li span {
  font-size: 60px;
  display: block;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li img {
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.21s;
  transition: 0.21s;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li img.small {
  width: auto;
  height: auto;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-C ul li img.fill_height {
  width: auto;
  height: 100%;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header1 {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #f2f2f2;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header1 div {
  margin-left: 20px;
  line-height: 40px;
  height: 40px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  overflow: hidden;
  height: 40px;
  line-height: 36px;
  border-bottom: 1px solid #f2f2f2;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header > div:nth-of-type(1) {
  width: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header > div:nth-of-type(2) {
  flex: 1;
  -webkit-flex: 1;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header > div:nth-of-type(3) {
  width: 100px;
  cursor: pointer;
  font-size: 30px;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C {
  overflow: hidden;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul {
  margin-top: 2px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul li {
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  width: 100px;
  cursor: pointer;
  position: relative;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul li .zmt_iconfont {
  color: #ed4014;
  position: absolute;
  right: -16px;
  top: -20px;
  font-weight: normal;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul li span {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul li.active {
  color: #00c1dd;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-content .zmiti-resource-list .zmiti-resource-header .zmiti-resource-cate-list-C ul li.active span {
  font-weight: bold;
}

.zmiti-resourcelist-ui .zmiti-detail-C {
  width: 96%;
  margin: 0 auto;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-img {
  background: #f5f5f6;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: center;
  height: 360px;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-img img {
  max-width: 100%;
  max-height: 360px;
  display: block;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-img .zmiti-deitail-btn {
  position: absolute;
  width: 28px;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  left: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-top: -28px;
  text-align: center;
  cursor: pointer;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-img .zmiti-deitail-btn:nth-of-type(2) {
  left: auto;
  right: 0;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item {
  width: 90%;
  margin: 10px auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item > div {
  margin: 0 5px;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item > div:nth-of-type(1) {
  width: 70px;
  text-align: right;
  line-height: 30px;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item > div:nth-of-type(2) {
  line-height: 30px;
  -webkit-flex: 1;
  flex: 1;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item .zmiti-tag-list {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-item .zmiti-tag-list div {
  margin: 5px 2px 0 0;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-submit {
  text-align: center;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-detail-submit button {
  width: 100px;
}

.zmiti-resourcelist-ui .zmiti-detail-C .zmiti-hr {
  width: 90%;
  margin: 10px auto;
  height: 1px;
  background: #eee;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-footer {
  height: 50px;
  line-height: 50px;
  text-align: right;
  border-top: 1px solid #ddd;
}

.zmiti-resourcelist-ui .zmiti-resourcelist-footer button {
  margin-right: 20px;
}

.zmiti-addacte-footer {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 40px;
}

.zmiti-addacte-footer span {
  cursor: pointer;
  color: #ed4014;
  text-decoration: underline;
}
