@import "../css/base.scss";


.zmiti-changye-main-ui {
  background: #ffffff;
  box-sizing: border-box;
  height: 100%;
  width: 99%;
  margin: 0 auto;
  img{
  	width: auto;
  	max-width: 100%;
  }
  .zmiti-scroll {
  	overflow: auto;
  }
}