/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-weather-main-ui {
  background: #f2f2f2;
  box-sizing: border-box;
  height: 99%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }
  .zmiti-weather-main-ui .zmiti-list-main {
    box-sizing: border-box;
    margin: 0 auto;
    flex: 2;
    -webkit-flex: 2;
    position: relative; }

.zmiti-systemhome-pane {
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }
  .zmiti-systemhome-pane .zmiti-systemhome-left {
    flex: 1;
    -webkit-flex: 1;
    margin-left: 5px; }
  .zmiti-systemhome-pane .zmiti-systemhome-right {
    width: 320px;
    margin-left: 18px;
    margin-right: 5px; }
    .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather {
      height: 180px;
      background-color: #3f8fff;
      color: #ffffff; }
      .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather .zmiti-systemhome-weather-inner {
        padding: 0 0 0 30px;
        display: flex;
        display: -webkit-flex;
        flex-flow: column;
        height: 100%;
        justify-content: center; }
      .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather dl {
        display: flex;
        display: -webkit-flex;
        flex-flow: row; }
        .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather dl dt {
          font-size: 60px;
          line-height: 1;
          margin-right: 10px; }
        .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather dl dd {
          font-size: 18px;
          line-height: 1; }
          .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather dl dd .zmiti-systemhome-tq {
            padding: 8px 0; }
      .zmiti-systemhome-pane .zmiti-systemhome-right .zmiti-systemhome-weather .zmiti-systemhome-windDir {
        line-height: 1;
        font-size: 18px;
        padding-top: 10px; }

.zmiti-systemhome-bor {
  padding: 8px 15px 3px 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 2px #d3d3d3; }

.zmiti-systemhome-hr {
  height: 18px;
  line-height: 0;
  font-size: 0; }

.zmiti-systemhome-h3 {
  font-size: 18px;
  line-height: 40px;
  color: #222222;
  font-weight: bold; }

.zmiti-systemhome-more {
  line-height: 1; }
  .zmiti-systemhome-more a {
    color: #3390ff;
    font-size: 14px;
    line-height: 40px; }

.zmiti-systemhome-ulist li {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px; }
  .zmiti-systemhome-ulist li:last-child {
    margin-bottom: 0; }
  .zmiti-systemhome-ulist li a {
    color: #222222; }
  .zmiti-systemhome-ulist li h5 {
    font-weight: normal;
    font-size: 14px;
    color: #bbbbbb; }

.zmiti-systemhome-ucount ul {
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }
  .zmiti-systemhome-ucount ul li {
    flex: 1;
    -webkit-flex: 1;
    color: #ffffff;
    margin-right: 20px; }
    .zmiti-systemhome-ucount ul li:nth-child(1) {
      background-color: #2f91f2; }
    .zmiti-systemhome-ucount ul li:nth-child(2) {
      background-color: #f87738; }
    .zmiti-systemhome-ucount ul li:nth-child(3) {
      background-color: #9428f6;
      margin-right: 0px; }
    .zmiti-systemhome-ucount ul li dl {
      line-height: 40px;
      display: flex;
      display: -webkit-flex;
      flex-flow: column;
      justify-content: center;
      height: 100%; }
      .zmiti-systemhome-ucount ul li dl dt {
        font-size: 40px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      .zmiti-systemhome-ucount ul li dl dd {
        font-size: 24px; }
    .zmiti-systemhome-ucount ul li .zmiti-systemhome-ucount-li {
      display: flex;
      display: -webkit-flex;
      flex-flow: row;
      padding: 0 25px;
      height: 150px; }
      .zmiti-systemhome-ucount ul li .zmiti-systemhome-ucount-li .zmiti-systemhome-ucount-icon {
        margin-left: auto; }
        .zmiti-systemhome-ucount ul li .zmiti-systemhome-ucount-li .zmiti-systemhome-ucount-icon .zmiti-systemhome-ucount-img {
          display: flex;
          display: -webkit-flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          height: 100%; }

.zmiti-systemhome-user {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 2px #d3d3d3; }
  .zmiti-systemhome-user .zmiti-systemhome-userface {
    margin-right: 20px; }
    .zmiti-systemhome-user .zmiti-systemhome-userface img {
      display: block;
      width: 120px;
      height: 120px;
      border: 4px solid #eaf4ff;
      border-radius: 50%; }
  .zmiti-systemhome-user .zmiti-systemhome-userinfo {
    height: 120px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center; }
    .zmiti-systemhome-user .zmiti-systemhome-userinfo .zmiti-systemhome-username {
      font-size: 24px;
      line-height: 1;
      color: #222222; }
      .zmiti-systemhome-user .zmiti-systemhome-userinfo .zmiti-systemhome-username b {
        font-weight: normal;
        padding-right: 15px; }
      .zmiti-systemhome-user .zmiti-systemhome-userinfo .zmiti-systemhome-username span {
        color: #3390ff;
        font-size: 16px; }
    .zmiti-systemhome-user .zmiti-systemhome-userinfo .zmiti-systemhome-logintime {
      color: #777777;
      font-size: 16px;
      padding: 10px 0 0 0; }

/*# sourceMappingURL=index.css.map */
