@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;
.wm-rater-main-ui {
    &>header {
        background: #fff;
        height: 50px;
        width: 100%;
        line-height: 50px;
        @include displayFlex(row);
        justify-content: space-between;
        -webkit-justify-content: space-between;
        &>section {
            margin-right: 30px;
            ;
        }
        &>div {
            font-size: 20px;
            margin-left: 40px;
            @include pos(r);
            &:before {
                content: "";
                @include pos(a);
                width: 2px;
                height: 20px;
                background: #cc0000;
                top: 15px;
                left: -10px;
            }
        }
    }
    .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
        left: 30px;
    }
}

.ivu-table-body::-webkit-scrollbar,
.wm-scroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

.ivu-table-body::-webkit-scrollbar-thumb,
.wm-scroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.ivu-table-body::-webkit-scrollbar-track,
.wm-scroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}