/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-company-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-company-main-ui .ivu-table-wrapper {
  border-bottom: none;
  border-right: none;
}

.zmiti-company-main-ui > div:nth-of-type(1) {
  width: 200px;
}

.zmiti-company-main-ui .zmiti-tab-content {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
}

.zmiti-company-main-ui .zmiti-tab-content > div {
  width: 98%;
  margin: 10px auto 10px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
}

.zmiti-company-main-ui .zmiti-tab-content > div .zmiti-meet-form {
  width: 100%;
  margin: 0px auto;
  padding: 20px 40px;
  height: 600px;
}

.zmiti-company-main-ui .zmiti-tab-content .zmiti-tab-header {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
}

.zmiti-company-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1) {
  position: relative;
  text-indent: .5em;
}

.zmiti-company-main-ui .zmiti-tab-content .zmiti-tab-header > div:nth-of-type(1):before {
  content: '';
  width: 4px;
  height: 24px;
  background: #2d8cf0;
  left: -4px;
  position: absolute;
  top: 12px;
}

.zmiti-company-main-ui .zmiti-company-main {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-company-main-ui .zmiti-company-main > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-table {
  width: 100%;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-table .ivu-icon {
  left: 30px;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-table .ivu-table-wrapper {
  margin-top: 10px;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-table.active {
  width: 70%;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form {
  margin-top: 10px;
  margin-left: 2%;
  width: 28%;
  position: absolute;
  right: 0;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form.detail-enter-active, .zmiti-company-main-ui .zmiti-company-main .zmiti-company-form.detail-leave-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form.detail-enter, .zmiti-company-main-ui .zmiti-company-main .zmiti-company-form.detail-leave-to {
  width: 0;
  overflow: hidden;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form > header {
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  color: #515a6e;
  text-indent: 2em;
  background: #f8f8f9;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form .zmiti-company-form-item {
  line-height: 50px;
  height: 50px;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form .zmiti-company-form-item.zmiti-company-btns {
  text-align: center;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form .zmiti-company-form-item.zmiti-company-btns button {
  margin: 0 20px;
  padding: 2px 20px;
}

.zmiti-company-main-ui .zmiti-company-main .zmiti-company-form .zmiti-company-form-item input {
  padding-left: 6px;
  height: 26px;
  width: 70%;
  border: 1px solid #d8d8d8;
  outline: none;
}
