@import "../css/base.scss";



.zmiti-company-main-ui {
	background: #f2f2f2;
	box-sizing: border-box;
	height: 100%;
	width: 99%;
	margin: 0 auto;
	.zmiti-company-main-inner{
		overflow: auto;
	}
}
.zmiti-systemhome-pane{
    @include displayFlex(row);
    .zmiti-systemhome-left{
        flex:1;
        -webkit-flex:1;
        margin-left: 5px;
    }
    .zmiti-systemhome-right{
        width:320px;
        margin-left: 18px;
        margin-right: 5px;
    }
}
.zmiti-systemhome-bor{
    padding:8px 15px 3px 15px;
    background-color:#ffffff;
    box-shadow: 0px 0px 2px 2px #d3d3d3;
}
.zmiti-systemhome-hr{
    height: 18px;
    line-height: 0;
    font-size: 0;
    width: 100%;
}
.zmiti-systemhome-h3{
    font-size: 18px;
    line-height: 40px;
    color:#222222;
    font-weight: bold;
    position:relative;
    label{
        margin-right: 50px;
    }
    button{
    	position:absolute;
    	bottom:8px;
    	right: 0px;
    	border:none;
    	background-color:#eef3f8;
    	color: #6b879f;
    	font-size: 14px;
    	padding:5px 10px;
    	line-height: 1;
    	cursor: pointer;
    	border-radius:8px;
    	-webkit-border-radius:8px;
    	-moz-border-radius:8px;
    }
}
.zmiti-systemhome-p{
    font-size: 18px;
    line-height: 40px;
    color:#222222;
}
.zmiti-systemhome-more{
    line-height: 1;
    a{
        color: #3390ff;
        font-size: 14px;
        line-height: 40px;
    }
}
.zmiti-systemhome-ulist{    
    li{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
        list-style: none;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            color:#222222;
        }
        h5{
            font-weight: normal;
            font-size: 14px;
            color: #bbbbbb;
        }
    }
}
.zmiti-systemhome-user{
    @include displayFlex(row);
    height: 180px;
    overflow: hidden;
    padding:0 30px;
    background-color:#ffffff;
    box-shadow: 0px 0px 2px 2px #d3d3d3;
    .zmiti-systemhome-userface{
        margin-right: 20px;
        height: 100%;
        @include displayFlex(column);
        justify-content: center;
        img{
            display: block;
            width:120px;
            height: 120px;
            border:4px solid #eaf4ff;
            border-radius:50%;
        }
    }
    .zmiti-systemhome-userinfo{
        height: 100%;
        @include displayFlex(column);
        justify-content: center;
        .zmiti-systemhome-username{
            font-size: 24px;
            line-height: 1.45;
            color: #222222;
            b{
                font-weight: normal;
                padding-right:15px;
            }
            span{
                color: #3390ff;
                font-size: 16px;
            }
        }
        .zmiti-systemhome-logintime{
            color: #777777;
            font-size: 16px;
            padding:10px 0 0 0;
        }
    }
}
.zmiti-company-count{
	width:320px;
	height: 180px;
	color: #ffffff;
	font-size: 18px;
	.p {
		height: 30px;
		line-height: 1;
		padding:15px 0 0 0;
		b{
			font-size: 22px;			
		}
	}
	.h1{
		font-size: 22px;
		position:relative;
		height: 68px;
		span{
			display: inline-block;
			position: absolute;
			line-height: 1;
			bottom:15px;
		}
		b{
			font-size: 44px;
			line-height: 1;
			display: inline-block;
			position: absolute;
			bottom:8px;
			left:100px;
		}
	}
}
.zmiti-company-column1{
	@include displayFlex(row);
	.zmiti-systemhome-user{
		flex:1;
		-webkit-flex:1;
		-moz-flex:1;
		margin-right: 18px;
	}
}
.zmiti-company-editbtn{
	text-align: center;
	span{
		font-size: 16px;
		color: #777777;
		cursor: pointer;
        a{
            color: #777777;
        }
	}
}


