@import "../components/css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

body{
	
}

.wm-user-dowload-ui{
	width: 1240px;
	
	.wm-href{
		a{color:#fff}
	}
	
	&.showpreview{

		@include pos(f);
		left: 0;	
		top: 0;

	}
	&.isAdmin {
		width:100%;
		margin: 0 auto 0;

		.wm-collection-left-main-ui{
			padding: 0;
		}
		.wm-collection-report-item{

			.wm-report-item-name{
				text-align: left !important;
			}
		}
		.wm-collection-report-list{
			&>ul{
				@include displayFlex(row);
				-webkit-flex-wrap:wrap;
				flex-wrap:wrap;
				justify-content: space-between;
				-webkit-justify-content: space-between;
				li{
					display: block !important;
				}
			}
		}
		.wm-collection-check-action{
			a,
			.ivu-btn,
			.ivu-checkbox {
				padding: 0;
				span{
					text-align: center;
					padding: 0 3px;
					&:hover{
						border:none;
					}
				}
			}
			.ivu-checkbox{
				///padding: 0 10px;
				height: auto;
				margin: 0;
				width: 24px;

				.ivu-checkbox-inner{
					border:1px solid #dcdee2;
				}
				span{
					height: 14px;
				}
			}
		}
		
	}
	&.isUser{
		overflow: auto;
	}
	margin:344px auto 0;

	
	padding: 5px 20px;
	@include br(8px);
	background:#fff;
	@include pos(r);
	z-index: 1000;
	 
	.wm-collection-left-pannel {
		width: 140px;
		height: 300px;
		background: #eee;
		@include pos(r);
		&>h2 {
			font-size: 14px; //font-weight: normal;
			//margin: 60px auto;
			padding: 60px 0;
			text-align: center;
		}
		&>ul {
			li {
				width: 100%;
				height: 30px;
				line-height: 30px;
				cursor: pointer;
				text-indent: 2em;
				&.active {
					background:#fff;
					color:#b20000;
					font-weight: bold;

				}
			}
		}
	}

	
	$bgColor:#fbfbfb;
	.wm-collection-left-main-ui,
	 {

		&:before {
			content: '';
			width: 100%;
			height: 10px;
			background: $bgColor;
			@include pos(a);
			left: 0;
			top: 0;
		}
		.wm-collection-left-header{
			height: 60px;
			line-height: 80px;

			border-bottom: 1px solid $bgColor;
			padding-bottom: 8px;
			
			@include displayFlex(row);
			width: 100%;
			.wm-collection-title{
				font-size:16px;
				width: 50%;
			}
			.wm-collection-search-content{
				width: 100%;
				@include displayFlex(row);
				justify-content: flex-end;
				align-items: flex-end;
				-webkit-justify-content: flex-end;
				-webkit-align-items: flex-end;
				&>div{
					width: 100%;
					
				}
			 
				.wm-collection-check-action{
					width:30%;
					height: 36px;
					line-height: 36px;
					@include pos(r);
					a{
						background: #f5a420;

					}
					&.wm-collection-check-action-reset{
						ul{
							li{
								&:nth-of-type(2) {
									color: #333;

									i {
										color: #333;
									}
								}

								&:nth-of-type(1) {
									color: #be0000;
									i {
										color: #be0000;
									}
								}

								&:hover {
									background: #be0000;
									color: rgb(255, 255, 255);
									i {
										color: #fff;
									}
								}
							}
						}
					}

					ul {
						
						width: 90px;
						margin-left: 40px;
						@include pos(a);
						border: 1px solid #ccc;
						background: #fff;
						margin-top: 2px;
						@include br(4px);
						//text-indent:10px;
						li {
							padding-left: 10px;
							i{
								font-size:16px;
								vertical-align: middle;
								color:#be0000;
								font-weight: bold;
								margin-top: -3px;
							}
							&:nth-of-type(1){
								color:yellowgreen;
								i{
									color:yellowgreen;
								}
							}
							&:nth-of-type(2){
								color:#be0000;
							}
							&:nth-of-type(3) {
								color: #333;
								i{
									color: #333;
								}
							}
							&:hover {
								background: #be0000;
								color: rgb(255, 255, 255);
								&:before {
									background: #be0000 !important;
								}
								i{
									color:#fff;
								}
							}
							span{
								@include pos(a);
								width:25px;
								height: 25px;
								@include br();
							}
							&:nth-of-type(1) {
								@include pos(r);
								&:before {
									content: "";
									width: 10px;
									height: 10px;
									background: #fff;
									@include pos(a);
									@include transform(rotate(45deg));
									border-left: 1px solid #ccc;
									border-top: 1px solid #ccc;
									top: -6px;
									left: 30px;
									@include br(2px);
								}
							}
							cursor: pointer;
							width: 100%;
							line-height: 30px;
							height: 30px;
						}
					}
				}
			}

		}
		.wm-collection-left-search-condition-header{
			height: 80px;
			line-height: 38px;
			margin-top: 12px;;
			border:1px solid #eee;
			box-sizing: border-box;
			@include br(4px);	
			@include displayFlex(row);
			-webkit-justify-content: space-between;
			justify-content: space-between;
			
			&>div{
				background: $bgColor;
				padding-left: 20px;
				box-sizing: border-box;
				//border:1px solid red;//
				
				&:nth-of-type(1){
					span{
						display: inline-block;
						margin: 0 10px;
						padding:0 10px;
						height: 24px;
						line-height: 24px;
						cursor: pointer;
						border:1px solid transparent;
						&:hover{
							border:1px solid #be0000;
							box-sizing: border-box;
						}
						&.active{
							background: #be0000;
							color:#fff;
							text-align: center;
							@include br(3px);
							
						}
						i{
							font-size:16px;
							vertical-align: middle;
							margin-top: -4px;
						}
					}
					
				}
				&:nth-of-type(2) {
					flex: 1;
					-webkit-flex: 1;
					@include displayFlex(row);
					-webkit-justify-content: center;
					justify-content: center;
					align-items: center;
					-webkit-align-items: center;
					&>div{
						width: 100%;
					}
					
				}

				&:nth-of-type(3) {
					width: 250px;
					@include displayFlex(row);
					-webkit-justify-content: center;
					justify-content: center;
					align-items: center;
					-webkit-align-items: center;
				}
			}
			.wm-collection-search-content {
				flex: 1;
				-webkit-flex: 1;
			}
		}
		.wm-collection-report-list{

			@at-root.wm-collection-pagetion {
				width: 100%;
				height: 40px;
				line-height: 100px;
				height: 100px;
				text-align: center;
				cursor: pointer;
				float: left;
				-webkit-user-select: none;

			}
			 li.wm-collection-report-item {
			 	display: inline-block;
			 	width: 285px;
				margin-right: 20px;
				margin-top: 20px;
				margin-left: 0;
				background: #fff;
				&:nth-of-type(4n){
					margin-right: 0;
				}
				box-sizing: border-box;
				 height: 390px;
				//
			 	@include pos(r);
			 	cursor: pointer;
			  
			 	&>div.wm-report-item-bg {
			 		width: 100%;
                    height: 72%;
					border: 1px solid #eee;
					background: #f4f4f4;
					@include displayFlex(row);
					box-sizing: border-box;
					@include pos(r);
                     -webkit-justify-content: center;
                     justify-content: center;
                     -webkit-align-items: center;
                     align-items: center;
					 overflow: hidden;
					 
					 .wm-report-shadow{
						 @include pos(a);
						 width: 100px;
						 left: 50%;
						 height: 10px;
						 @include br();
						 margin-left: -50px;
						 top: 70%;
						 background: rgba(0,0,0,.1);
						 filter:blur(3px);
						 -webkit-filter:blur(3px);

					 }
                    img{
                        display: block;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
					}
					&:hover{
						button{
							display: block;
						}
					}
					button{
						@include pos(a);
						right: 10px;
						bottom: 10px;
						display: none;
					}
                    &.active {
                        border-color: #f5a420;
                    }
			 	}
			 	.wm-report-item-name {
			 		//text-align: center;
			 		margin: 4px 0;
					font-size: 14px;
					color:#333;

				 }
				 .wm-report-item-attr{
					@include displayFlex(row);
					justify-content: space-between;
					color:#999999;
					;
					&>div{

					}
				 }
				 .wm-collection-check{
					 @include pos(a);
					 left: 10px;
					 top: 10px;
					 z-index: 10;;
				 }
				 .wm-collection-report-status{
					 @include pos(a);
					 width: 50px;
					 top:0;
					 right: 0;
				 }
			 	 
			 	 
			 	@-webkit-keyframes warning-animation {
			 		0% {
			 			background-position: 0 0;
			 		}
			 		100% {
			 			background-position: 3em 0;
			 		}
			 	}
			 	@keyframes warning-animation {
			 		0% {
			 			background-position: 0 0;
			 		}
			 		100% {
			 			background-position: 3em 0;
			 		}
			 	}
			 	.wm-report-disabled-mask {
			 		@include pos(a);
			 		width: 100%;
			 		height: 100%;
			 		left: 0;
			 		top: 0;
			 		background: rgba(255, 255, 255, 0.7);
			 	}
			 	.wm-file-disabled {
			 		color: #be0000;
			 		font-size: 12px;
			 		z-index: 10;
			 		width: 85%;
			 		padding-left: 20px;
			 		left: 50%;
			 		border: 1px solid #be0000;
			 		@include br(3px);
			 		@include transform(translate3d(-50%, 0, 0));
			 		background: rgba(255, 255, 255, 0.8);
			 		span {
			 			@include pos(a);
			 			left: 0;
			 			top: 0px;
			 			&:before {
			 				content: '';
			 				width: 18px;
			 				height: 18px;
			 				@include pos(a);
			 				border: 1px solid #be0000;
			 				@include br;
			 				left: 2px;
			 				top: 5px;
			 			}
			 			&:after {
			 				content: "";
			 				@include pos(a);
			 				width: 18px;
			 				height: 2px;
			 				background: #be0000;
			 				left: 2px;
			 				top: 13px;
			 				@include transform(rotate(45deg));
			 			}
			 		}
			 	}
			 	.wm-report-action {
			 		@include pos(a);
			 		top: 10px;
			 		right: 0;
			 		z-index: 1000;
			 		.wm-report-action-icon {
			 			width: 20px;
			 			height: 20px;
			 			background: #fff;
			 			@include br(2px);
			 			@include pos(a);
			 			right: 10px;
			 			&:before {
			 				content: "";
			 				@include pos(a);
			 				width: 12px;
			 				height: 12px;
			 				border: 1px solid #bbb;
			 				left: 4px;
			 				@include transform(rotate(45deg));
			 				border-left: none;
			 				border-top: none;
			 			}
			 		}
			 		&:hover {
			 			ul {
			 				display: block;
			 				i {
			 					color: #fff;
			 				}
			 			}
			 		}
			 		ul {
			 			display: none;
			 			background: #fff;
			 			width: 80px;
			 			margin-top: 20px;
			 			margin-right: 10px;
			 			.wm-del-ico {
			 				width: 100%;
			 				height: 100%;
			 				text-align: center;
			 				@include pos(a);
			 				left: 0;
			 				top: 0;
			 				text-indent: -.4rem;
			 				i {
			 					vertical-align: middle;
			 				}
			 			}
			 			li {
			 				.ivu-poptip-rel {
			 					width: 100%;
			 					height: 100%;
			 					left: 0;
			 					top: 0;
			 					@include pos(a);
			 				}
			 				&:hover {
			 					background: #be0000;
			 					color: #fff;
			 					div {
			 						color: #fff;
			 					}
			 					.ivu-poptip-body-message {
			 						color: #000;
			 					}
			 				}
			 				display: block;
			 				height: 30px;
			 				cursor: pointer;
			 				line-height: 30px;
			 				width: 100%;
			 				margin: 0;
			 				text-indent: .5em;
			 				vertical-align: middle;
			 				&>div {
			 					@include pos(a);
			 					left: 0;
			 					top: 0;
			 					width: 100%;
			 					height: 100%;
			 				}
			 				i {
			 					font-size: 20px;
			 				}
			 			}
			 		}
			 	}
			 }


			 &>ul.wm-media-list{
				 width: 100%;
				 li.wm-collection-report-item{
					 width: 100%;
					 height: 150px;
					 line-height: 150px;
					 text-align: center;
					 display: block;
					 @include displayBox(horizontal);
					 @include displayFlex(row);
					 border-bottom: 1px solid #eee;
					 padding-bottom: 10px;
					 clear: both;

					 &>div{
						 float: left;
						 box-sizing: border-box;
						 &:nth-of-type(1){
							width: 60px;
						 }
						 &:nth-of-type(2){
							width: 80%;
							flex:1;
							line-height: 20px;
						 }
						 &:nth-of-type(3){

							 width: 280px;
							 text-align: right;
							 a{
								 margin: 0 5px;
							 }
							 i{
								 font-size:20px;
							 }
						 }
						 
						 @include displayBox(horizontal);
						 @include displayFlex(row);
 
						 &>div{
							 margin-right: 20px;
							 font-size:12px;
							
							 text-align: left;
							.wm-unit{

								font-size:12px;
								color:#ccc;
							}
							 &:nth-of-type(2){
								  @include transform(scale(.9));
							 }
						 }
					 }
					 img{
						 width: 60px;

					 }
				 }
			 }
		}

	}


	.wm-download-loading-C{
		@include pos(f);
		z-index: 1002;
		background:rgba(0,0,0,.4);
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
	}

	.wm-download-loading{
		@include pos(f);
		width:400px;
		background: #fff;
		left: 50%;
		top: 50%;
		@include transform(translate3d(-50%,-50%,0));
		z-index: 100;

		&:before{
			content:'';
			width: 100%;
			height: 100%;
			left: 0;
			top:0;
			@include pos(a);
			box-shadow:0 0 20px rgba(0,0,0,.6);
		}

		&>header{
			@include displayFlex(row);
			background: #b20000;
			color:#fff;
			padding: 0 20px;
			height: 40px;
			line-height: 40px;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			i{
				cursor: pointer;
			}
			@include pos(r);
			z-index: 10;
		}

		.wm-download-tip{
			@include displayFlex(row);
			width: 70%;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			margin:0 auto;
			padding: 60px 0;
			div{
				//line-height: 70px;
			}
			img{
				width: 100px;
			}
		}
	}


	 .wm-report-C {
	 	background: rgba(0, 0, 0, 0.8);
	 	z-index: 1000;
	 	position: fixed !important;
	 	@include displayFlex(row);
	 	-webkit-justify-content: center;
	 	justify-content: center;
	 	-webkit-align-items: center;
	 	align-items: center;
	 	&>div {
	 		max-width: 80vw;
	 		max-height: 60vh;
	 		@include pos(r);
	 		.xlsx,
	 		.pdf,
	 		.doc,
	 		.ppt,
	 		.xlsx,
	 		.doc,
	 		.docx,
	 		.pdf,
	 		.txt,
	 		.ppt,
	 		.pptx,
	 		.xls,
	 		.rar,
	 		.html,
	 		.css,
	 		.scss,
	 		.js,
	 		.vb,
	 		.shtml,
	 		.zip {
	 			display: block;
	 			margin: 0 auto;
	 			position: relative !important;
	 		}
	 		.wm-report-detail {
	 			padding: 10px;
	 			box-sizing: border-box;
	 			@include pos(a);
	 			width: 103%;
	 			min-width: 300px;
	 			bottom: 0;
	 			left: 49%;
	 			@include transform(translate3d(-50%, 0, 0));
	 			background: rgba(0, 0, 0, 0.7);
	 			color: #fff;
	 			@include transition(0.4s);
	 			&.hide {
	 				height: 40px;
	 				overflow: hidden;
	 				&>span {
	 					&:before,
	 					&:after {
	 						@include transform(rotate(225deg));
	 						top: 4px;
	 					}
	 					&:after {
	 						top: 8px;
	 					}
	 				}
	 			}
	 			&.wm-audio {
	 				@include pos(r);
	 				.wm-myreport-title {}
	 			}
	 			&.wm-video-detail {
	 				&.hide {
	 					bottom: -40px;
	 				}
	 			}
	 			&>span {
	 				@include pos(a);
	 				right: 30px;
	 				top: 10px;
	 				cursor: pointer;
	 				&:before,
	 				&:after {
	 					content: '';
	 					right: -12px;
	 					top: 0px;
	 					@include pos(a);
	 					width: 8px;
	 					height: 8px;
	 					border: 1px solid #fff;
	 					border-left: none;
	 					border-top: none;
	 					@include transform(rotate(45deg));
	 				}
	 				&:after {
	 					top: 4px;
	 				}
	 			}
	 			.wm-myreport-field-item {
	 				//background:#f4f4f4;
	 				background: transparent;
					 @include displayFlex(row);
					 
	 				&>div {
	 					//padding-right: 2px;
	 					text-align: left;
	 					line-height: 30px;
	 					&:nth-of-type(1) {
	 						width: 60px;
	 						text-align: right;
							margin-right: 20px;
						 }
						 &::nth-of-type(2){
							 flex:1;
							 -webkit-flex:1;
						 }
	 				}
	 				.wm-tag-list-C {
	 					@include displayFlex(row);
	 					-webkit-flex: 1;
	 					flex: 1;
	 					&>div {
	 						&:nth-of-type(1) {
	 							width: 40px;
	 						}
	 						&:nth-of-type(2) {
	 							margin-left: 20px;
	 							max-width: 200px;
	 						}
	 					}
	 				}
	 			}
	 		}
	 		img {
	 			width: auto;
	 			height: auto;
	 			max-height: 60vh;
	 			max-width: 80vh;
	 		}
	 		video {
	 			width: auto;
	 			max-height: 60vh;
	 		}
		 }
		 
		 
	 }

}
@media all and(max-width:1025px) {
	.wm-collection-ui{
		width: 1000px;
		.wm-collection-left-pannel{
		}
		.wm-collection-left-main-ui{
				.wm-collection-report-list {
					li.wm-collection-report-item {
						display: inline-block;
						width: 302px;
						margin-right: 18px;
						margin-top: 20px;

						
						&:nth-of-type(3n+3) {
							margin-right: 0;
						}

						&:nth-of-type(4n) {
							margin-right: 18px;
						}

						box-sizing: border-box;
						height: 370px;
						overflow: hidden;
						//
						@include pos(r);
						cursor: pointer;

						&>div.wm-report-item-bg {
							width: 100%;
							height: 80%;
							border: 1px solid #eee;
							background: #f4f4f4;
							@include displayFlex(row);
							box-sizing: border-box;
							@include pos(r);
							-webkit-justify-content: center;
							justify-content: center;
							-webkit-align-items: center;
							align-items: center;
							overflow: hidden;

							.wm-report-shadow {
								@include pos(a);
								width: 100px;
								left: 50%;
								height: 10px;
								@include br();
								margin-left: -50px;
								top: 70%;
								background: rgba(0, 0, 0, .1);
								filter: blur(3px);
								-webkit-filter: blur(3px);

							}

							img {
								display: block;
								width: auto;
								height: auto;
								max-width: 100%;
								max-height: 100%;
							}

							&:hover {
								button {
									display: block;
								}
							}

							button {
								@include pos(a);
								right: 10px;
								bottom: 10px;
								display: none;
							}

							&.active {
								border-color: #f5a420;
							}
						}

						.wm-report-item-name {
							//text-align: center;
							margin: 4px 0;
							font-size: 14px;
							color: #333;

						}

						.wm-report-item-attr {
							@include displayFlex(row);
							justify-content: space-between;
							color: #999999;
							;

							&>div {}
						}

						.wm-collection-check {
							@include pos(a);
							left: 10px;
							top: 10px;
							z-index: 10;
							;
						}

						.wm-collection-report-status {
							@include pos(a);
							width: 50px;
							top: 0;
							right: 0;
						}


						@-webkit-keyframes warning-animation {
							0% {
								background-position: 0 0;
							}

							100% {
								background-position: 3em 0;
							}
						}

						@keyframes warning-animation {
							0% {
								background-position: 0 0;
							}

							100% {
								background-position: 3em 0;
							}
						}

						.wm-report-disabled-mask {
							@include pos(a);
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							background: rgba(255, 255, 255, 0.7);
						}

						.wm-file-disabled {
							color: #be0000;
							font-size: 12px;
							z-index: 10;
							width: 85%;
							padding-left: 20px;
							left: 50%;
							border: 1px solid #be0000;
							@include br(3px);
							@include transform(translate3d(-50%, 0, 0));
							background: rgba(255, 255, 255, 0.8);

							span {
								@include pos(a);
								left: 0;
								top: 0px;

								&:before {
									content: '';
									width: 18px;
									height: 18px;
									@include pos(a);
									border: 1px solid #be0000;
									@include br;
									left: 2px;
									top: 5px;
								}

								&:after {
									content: "";
									@include pos(a);
									width: 18px;
									height: 2px;
									background: #be0000;
									left: 2px;
									top: 13px;
									@include transform(rotate(45deg));
								}
							}
						}

						.wm-report-action {
							@include pos(a);
							top: 10px;
							right: 0;
							z-index: 1000;

							.wm-report-action-icon {
								width: 20px;
								height: 20px;
								background: #fff;
								@include br(2px);
								@include pos(a);
								right: 10px;

								&:before {
									content: "";
									@include pos(a);
									width: 12px;
									height: 12px;
									border: 1px solid #bbb;
									left: 4px;
									@include transform(rotate(45deg));
									border-left: none;
									border-top: none;
								}
							}

							&:hover {
								ul {
									display: block;

									i {
										color: #fff;
									}
								}
							}

							ul {
								display: none;
								background: #fff;
								width: 80px;
								margin-top: 20px;
								margin-right: 10px;

								.wm-del-ico {
									width: 100%;
									height: 100%;
									text-align: center;
									@include pos(a);
									left: 0;
									top: 0;
									text-indent: -.4rem;

									i {
										vertical-align: middle;
									}
								}

								li {
									.ivu-poptip-rel {
										width: 100%;
										height: 100%;
										left: 0;
										top: 0;
										@include pos(a);
									}

									&:hover {
										background: #be0000;
										color: #fff;

										div {
											color: #fff;
										}

										.ivu-poptip-body-message {
											color: #000;
										}
									}

									display: block;
									height: 30px;
									cursor: pointer;
									line-height: 30px;
									width: 100%;
									margin: 0;
									text-indent: .5em;
									vertical-align: middle;

									&>div {
										@include pos(a);
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
									}

									i {
										font-size: 20px;
									}
								}
							}
						}
					}


					&>ul.wm-media-list {
						width: 100%;

						li.wm-collection-report-item {
							width: 100%;
							height: 100px;
							line-height: 70px;
							text-align: center;
							display: block;
							@include displayBox(horizontal);
							@include displayFlex(row);
							border-bottom: 1px solid #eee;
							padding-bottom: 10px;

							&>div {
								&:nth-of-type(1) {
									width: 60px;
								}

								&:nth-of-type(2) {

									line-height: 20px;
								}

								&:nth-of-type(3) {
									width: 60px;

									i {
										font-size: 20px;
									}
								}

							}

							.wm-collection-report-content {
								flex: 1;
								-webkit-flex: 1;
								-webkit-box-flex: 1;
								box-flex: 1;
								@include displayBox(horizontal);
								@include displayFlex(row);

								&>div {
									margin-right: 20px;
									text-align: left;

									.wm-unit {

										font-size: 12px;
										color: #ccc;
									}

									&:nth-of-type(2) {
										&>div:nth-of-type(2) {
											color: #ccc;
										}
									}

								}

							}

							img {
								width: 60px;

							}
						}
					}
				}
		}
	}
}
 @media all and(max-width:750px){
	 body{overflow-x: hidden;}
	.wm-collection-ui {
		font-size:30px;
		width:750px;
		margin: 0 auto 0;
		background: #fff;

		$bgColor:#fbfbfb;

		.wm-download-mobile-mask{
			@include pos(f);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background:rgba(0,0,0,.8);
			color:#fff;
			z-index: 1000;
			@include displayBox(vertical);
			video{
				width: 100%;

			}

			.wm-download-close{
				@include pos(a);
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				@include br();
				right: 20px;
				top: 20px;
				font-size:34px;
				background:#be0000;
				color:#fff;
				i{
					margin-top: -10px;
				}
			}
		}

		.wm-collection-left-main-ui{
			&:before {
				content: '';
				width: 100%;
				height: 10px;
				background: $bgColor;
				@include pos(a);
				left: 0;
				top: 0;
			}

			.wm-collection-left-header {
				height: 120px;
				line-height: 160px;

				border-bottom: 1px solid $bgColor;
				padding-bottom: 16px;

				@include displayBox(horizontal);
				width: 100%;

				 

				.wm-collection-search-content {
					width: 100%;
					
					input{
						height: 60px;
						font-size:30px;
					}

					.ivu-input-search{
						font-size:30px;
					}
					&>div {
						width: 100%;
					}
					 
				}

			}

			.wm-collection-left-search-condition-header {
				height: 100px;
				line-height: 78px;
				margin-top: 2px;
				border: 1px solid #eee;
				box-sizing: border-box;
				@include br(4px);
				@include displayFlex(row);

				-webkit-justify-content: space-between;
				justify-content: space-between;

				&>div {
					background: $bgColor;
					padding-left: 20px;
					height: 70px;
					line-height: 70px;

					
					box-sizing: border-box;
					////
					&:nth-of-type(1) {
						span {
							display: inline-block;
							margin: 0 10px;
							padding: 0 10px;
							height: 50px;
							line-height: 50px;
							cursor: pointer;
							border: 1px solid transparent;

							&:hover {
								border: 1px solid #be0000;
								box-sizing: border-box;
							}

							&.active {
								background: #be0000;
								color: #fff;
								text-align: center;
								@include br(3px);

							}
						}
					}

				}
				.wm-collection-search-content,
				.wm-collection-check-action {
					display: none;
				}
			}

			.wm-collection-report-list {
				margin-top: 30px;
				@at-root.wm-collection-pagetion {
					width: 100%;
					height: 40px;
					line-height: 40px;
					height: 100px;
					text-align: center;
					cursor: pointer;
					float: left;
					-webkit-user-select: none;

				}




				li.wm-collection-report-item {
					display: inline-block;
					width: 340px;
					margin-right: 28px;
					margin-top: 20px;

					&:nth-of-type(2n) {
						margin-right: 0;
					}

					box-sizing: border-box;
					height: 570px;
					//
					@include pos(r);
					cursor: pointer;

					&>div.wm-report-item-bg {
						width: 100%;
						height: 80%;
						border: 1px solid #eee;
						background: #f4f4f4;
						@include displayFlex(row);
						box-sizing: border-box;
						@include pos(r);
						-webkit-justify-content: center;
						justify-content: center;
						-webkit-align-items: center;
						align-items: center;
						overflow: hidden;

						.wm-report-shadow {
							@include pos(a);
							width: 100px;
							left: 50%;
							height: 10px;
							@include br();
							margin-left: -50px;
							top: 70%;
							background: rgba(0, 0, 0, .1);
							filter: blur(3px);
							-webkit-filter: blur(3px);

						}

						img {
							display: block;
							width: auto;
							height: auto;
							max-width: 100%;
							max-height: 100%;
							min-width: 100px;
						}

						&:hover {
							button {
								display: block;
							}
						}

						button {
							@include pos(a);
							right: 10px;
							bottom: 10px;
							display: none;
						}

						&.active {
							border-color: #f5a420;
						}
					}

					.wm-report-item-name {
						//text-align: center;
						margin: 4px 0;
						font-size: 30px;
						color: #333;


					}

					.wm-report-item-attr {
						@include displayBox(vertical);
						justify-content: space-between;
						-webkit-box-align:start;
						color: #999999;
						font-size:26px;

						&>div {}
					}

					.wm-collection-check {
						@include pos(a);
						left: 10px;
						top: 10px;
						z-index: 10;
						;
					}

					.wm-collection-report-status {
						@include pos(a);
						width: 50px;
						top: 0;
						right: 0;
					}

				


					@-webkit-keyframes warning-animation {
						0% {
							background-position: 0 0;
						}

						100% {
							background-position: 3em 0;
						}
					}

					@keyframes warning-animation {
						0% {
							background-position: 0 0;
						}

						100% {
							background-position: 3em 0;
						}
					}

					.wm-report-disabled-mask {
						@include pos(a);
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						background: rgba(255, 255, 255, 0.7);
					}

					.wm-file-disabled {
						color: #be0000;
						font-size: 12px;
						z-index: 10;
						width: 85%;
						padding-left: 20px;
						left: 50%;
						border: 1px solid #be0000;
						@include br(3px);
						@include transform(translate3d(-50%, 0, 0));
						background: rgba(255, 255, 255, 0.8);

						span {
							@include pos(a);
							left: 0;
							top: 0px;

							&:before {
								content: '';
								width: 18px;
								height: 18px;
								@include pos(a);
								border: 1px solid #be0000;
								@include br;
								left: 2px;
								top: 5px;
							}

							&:after {
								content: "";
								@include pos(a);
								width: 18px;
								height: 2px;
								background: #be0000;
								left: 2px;
								top: 13px;
								@include transform(rotate(45deg));
							}
						}
					}

				 
				}

				 &>ul.wm-media-list {
				 	width: 100%;

				 	li.wm-collection-report-item {
				 		width: 100%;
				 		height: 100px;
				 		line-height: 70px;
				 		text-align: center;
				 		display: block;
				 		@include displayBox(horizontal);
				 		@include displayFlex(row);
				 		border-bottom: 1px solid #eee;
				 		padding-bottom: 10px;

				 		&>div {
				 			&:nth-of-type(1) {
								 width: 10px;
								 .ivu-checkbox-wrapper{
									 display: none;
								 }
								
				 			}

				 			&:nth-of-type(2) {
				 				line-height: 20px;
				 			}

				 			&:nth-of-type(3) {
								 
								.ivu-icon {
								//	display: none;
								}

								.wm-downlad-ico{
									display: none;
								}

				 				i {
				 					font-size: 40px;
				 				}
				 			}

				 		}

				 		.wm-collection-report-content {
				 			flex: 1;
				 			-webkit-flex: 1;
				 			-webkit-box-flex: 1;
				 			box-flex: 1;
				 			@include displayBox(horizontal);
				 			@include displayFlex(row);
							height: 100px;
							margin: 20px 0;
				 			&>div {
				 				margin-right: 20px;
								text-align: left;
								height: 50px;
								font-size: 22px;
								 
								.zmiti-text-overflow{
									@include pos(r);
									z-index: 10;
									height: 30px;
									line-height: 30px;
								}
				 				.wm-unit {
									 color: #ccc;
									 font-size: 22px;
				 				}

				 				&:nth-of-type(2) {
									 &>div:nth-of-type(2){
										 color: #ccc;
										 line-height: 30px;
									 }
									
				 				}

				 			}

				 		}

				 		img {
				 			width: 70px;

				 		}
				 	}
				 }
			}

			.wm-collection-pagetion {
				line-height: 100px;;
				ul{
					li{
						width: 60px;
						height: 60px;
						line-height: 60px;
						&.ivu-page-prev,
						&.ivu-page-next {
							i{
								font-size:30px;
							}
						}
					}
				}
			}

		}

		.wm-report-C {
			background: rgba(0, 0, 0, 0.8);
			z-index: 1000;
			position: fixed !important;
			@include displayFlex(row);
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;

			&>div {
				max-width: 80vw;
				max-height: 60vh;
				@include pos(r);

				.xlsx,
				.pdf,
				.doc,
				.ppt,
				.xlsx,
				.doc,
				.docx,
				.pdf,
				.txt,
				.ppt,
				.pptx,
				.xls,
				.rar,
				.html,
				.css,
				.scss,
				.js,
				.vb,
				.shtml,
				.zip {
					display: block;
					margin: 0 auto;
					position: relative !important;
				}

				.wm-report-detail {
					padding: 10px;
					box-sizing: border-box;
					@include pos(a);
					width: 103%;
					min-width: 300px;
					bottom: 0;
					left: 49%;
					@include transform(translate3d(-50%, 0, 0));
					background: rgba(0, 0, 0, 0.7);
					color: #fff;
					@include transition(0.4s);

					&.hide {
						height: 40px;
						overflow: hidden;

						&>span {

							&:before,
							&:after {
								@include transform(rotate(225deg));
								top: 4px;
							}

							&:after {
								top: 8px;
							}
						}
					}

					&.wm-audio {
						@include pos(r);

						.wm-myreport-title {}
					}

					&.wm-video-detail {
						&.hide {
							bottom: -40px;
						}
					}

					&>span {
						@include pos(a);
						right: 30px;
						top: 10px;
						cursor: pointer;

						&:before,
						&:after {
							content: '';
							right: -12px;
							top: 0px;
							@include pos(a);
							width: 8px;
							height: 8px;
							border: 1px solid #fff;
							border-left: none;
							border-top: none;
							@include transform(rotate(45deg));
						}

						&:after {
							top: 4px;
						}
					}

					.wm-myreport-field-item {
						//background:#f4f4f4;
						background: transparent;
						@include displayFlex(row);

						&>div {
							//padding-right: 2px;
							text-align: left;
							line-height: 30px;

							&:nth-of-type(1) {
								width: 60px;
								text-align: right;
								margin-right: 20px;
							}

							&::nth-of-type(2) {
								flex: 1;
								-webkit-flex: 1;
							}
						}

						.wm-tag-list-C {
							@include displayFlex(row);
							-webkit-flex: 1;
							flex: 1;

							&>div {
								&:nth-of-type(1) {
									width: 40px;
								}

								&:nth-of-type(2) {
									margin-left: 20px;
									max-width: 200px;
								}
							}
						}
					}
				}

				img {
					width: auto;
					height: auto;
					max-height: 60vh;
					max-width: 80vh;
				}

				video {
					width: auto;
					max-height: 60vh;
				}
			}


		}

	}



	
}
.wm-data-loading{
	width: 100%;
	text-align: center;
	color:#b20000;
	font-size:12px;
}

.wm-help{
	@include pos(f);
	z-index: 1000;
	right: 100px;
	top: 340px;
	border:1px solid #f90;
	background: #f90;
	@include br(4px);
	padding: 3px 10px;
	color:#fff;
	cursor: pointer;
}

.wm-download-help{
	@include pos(a);
	color:#be0000;
	right: 300px;
	bottom: 20px;

}